<script type='text/javascript'>
  function showhide(payment_type) {
    if ( payment_type == 'wt' || payment_type == '') {
      document.getElementById('CcDc').style.display = 'none';
      document.getElementById('netbanking').style.display = 'none';
      document.getElementById('wallet').style.display = 'block';
    }
    else if (payment_type == 'nb'){
      document.getElementById('CcDc').style.display = 'none';
      document.getElementById('netbanking').style.display = 'block';
      document.getElementById('wallet').style.display = 'none';
    }
    else if (payment_type == 'cc'){
      document.getElementById('CcDc').style.display = 'block';
      document.getElementById('netbanking').style.display = 'none';
      document.getElementById('wallet').style.display = 'none';
    }
    else if (payment_type == 'dc'){
      document.getElementById('CcDc').style.display = 'block';
      document.getElementById('netbanking').style.display = 'none';
      document.getElementById('wallet').style.display = 'none';
    }
    else {
    }
  }
  //function end
  jQuery('#four').click(function(){
    jQuery('#wallet').show();
    jQuery('#CcDc').hide();
  }
                       );
  jQuery('#one').click(function(){
    if (jQuery(this).is(':checked'))
    {
      jQuery('#OptionValue').val(jQuery(this).val());
    }
  }
                      );
  jQuery('#two').click(function(){
    if (jQuery(this).is(':checked'))
    {
      jQuery('#OptionValue').val(jQuery(this).val());
    }
  }
                      );
  jQuery('#three').click(function(){
    if (jQuery(this).is(':checked'))
    {
      jQuery('#OptionValue').val(jQuery(this).val());
    }
  }
                        );
  jQuery('#four').click(function(){
    if (jQuery(this).is(':checked'))
    {
      jQuery('#OptionValue').val(jQuery(this).val());
    }
  }
                       );
  </script>
  <div id="twoPartyList">
  <legend id="custom-title">Please select the preferred payment method to use on this order.</legend>
        <div class='shade'>
          <input type='radio' id='one' name='payOpt' value='cc'  onchange='showhide(this.value);' />
          <label class="control-label" for="Credit card">Credit card</label>
          
          <input type='radio' id='two' name='payOpt' value='dc' onchange='showhide(this.value);'/>
          <label class="control-label" for="Debit Card">Debit Card</label>
          
          <input type='radio' id='three' name='payOpt' value='nb'  onchange='showhide(this.value);'/>
          <label class="control-label" for="NetBanking">NetBanking</label>
          
          <input type='radio' id='four' name='payOpt' value='wt' onchange='showhide(this.value);'/>
          <label class="control-label" for="Wallet">Wallet</label>
           
        </div>
    <div id="mainForm">   

      <form class="" id="payment-form"> 
      <div class='shade' id='CcDc' style='display: none'>
        <input type="hidden" name="PayOptionType" id="OptionValue" value="">
        
            <div class="row">
                <div class="col-md-4">


                    {% if cards %}
                    <fieldset>
                      <legend>Choose existing card</legend>
                      <div class="form-group col-sm-12">
                        <label class="control-label" for="card-number">Cards</label>

                        <select class="form-control" id="existing-card-select">
                          <option value="0">-----</option>
                          {% for card in cards %}
                          <option value="{{card.stripe_card_id}}">
                            {{card.brand}}
                            **** **** **** {{card.last_four}}
                            {{card.exp_month}} / {{card.exp_year}}
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                    </fieldset>
                    {% endif %}


                    <fieldset>
                      {#<legend>{{text_credit_card}}</legend>#}
                      <div class="form-group required col-sm-12">
                        <label class="control-label" for="card-number">{{entry_cc_number}}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="card-number" name="card-number" placeholder="Valid Card Number" required="" autofocus="" data-stripe="number">
                            {#<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>#}
                        </div>
                      </div>

                      <div class="form-group required col-sm-6">
                        <label for="card-expiry-month">{{entry_cc_expire_date}}</label>
                        <div class="row">
                          <div class="col-xs-6 col-lg-6">
                            <input type="text" class="form-control" name="card-expiry-month" id="card-expiry-month" placeholder="MM" required="" data-stripe="exp_month">
                          </div>
                          <div class="col-xs-6 col-lg-6">
                            <input type="text" class="form-control" name="card-expiry-year" id="card-expiry-year" placeholder="YYYY" required="" data-stripe="exp_year">
                          </div>
                        </div>
                      </div>


                      <div class="form-group required col-sm-6">
                        <label class="control-label" for="card-cvc">{{entry_cc_cvv2}}</label>
                        <div class="">
                          <input type="text" name="card-cvc" value="" placeholder="{{entry_cc_cvv2}}" id="card-cvc" class="form-control" data-stripe="cvc"/>
                        </div>
                      </div>


                      {% if can_store_cards %}
                      <div class="form-group col-sm-6">
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" id="save-credit-card"> Save credit card
                            </label>
                          </div>
                      </div>
                      {% endif %}
                    </fieldset>
                  

                </div>
            
        </div>
        
      </div>
      <div class='shade' id='netbanking' style='display: none'>
        <div class='shade' id='bankCodetr'>
            
            <div class="form-group">
              <label for="Select Bank">Select Bank*</label>
                <select class="form-control" name='bankCode' id='bankCode' style="width: 30%;">
                  <option value='0'>Please Select Bank</option>
                  <option value='2001'>ATOM</option>
                </select>
            </div>
         </div>
      </div>
      <div class='shade' id='wallet' style='display: none;'>
         <div class="form-group">
            <label for="Select Bank">Select Bank*</label>
              <select class="form-control" name='radio_wallet' id='radio_wallet' style="width: 30%;">
                <option value='0'>Please Select Wallet</option>
                <option value='yespay'>YesPay</option>
              </select>
          </div>
        
      </div>
      <div class="buttons">
          <div class="pull-right">
               <input type="button" value="{{button_confirm}}" id="button-confirm-custom" data-loading-text="{{text_loading}}" class="btn btn-primary" />
          </div>
      </div>
      </form>
    </div>
  </div>


<div id="isgform" style="display:none;">
   <span id="message" style="color: #10BE71;font-size: 16px;"></span>
    <form action="{{ action }}" method="post"  >
      <input type="hidden" name="EncData" value="{{ EncData }}" />
      <input type="hidden" name="MerchantId" value="{{ MerchantID }}" />
      <input type="hidden" name="BankId" value="{{ BankId }}" />
      <input type="hidden" name="TerminalId" value="{{ TerminalId }}" />
      <input type="hidden" name="Version" value="{{ Version }}" />
      <div class="buttons">
        <div class="pull-right">
          <input type="submit" value="{{ place_order }}" id="button-confirm-custom" class="btn btn-primary" />
        </div>
      </div>
    </form>
</div>

<script type="text/javascript">

 $('#button-confirm-custom').bind('click', function() {

  var $form = $('#payment-form');
  var $button_confirm = $('#button-confirm');
  var $existing_cards_select = $('#existing-card-select');

  $button_confirm.attr('disabled', true);
  
  
   //credit,debit card values
   var cardNumber = $('#card-number').val();
   var cardExpiryMonth = $('#card-expiry-month').val();
   var cardExpiryYear = $('#card-expiry-year').val();
   var cardCvc = $('#card-cvc').val();
   //netbanking value
   var bankCode = $('#bankCode').val();
  
   //wallet value
   var radioWallet = $('#radio_wallet').val();


   var OptionValue = $('#OptionValue').val();

    //alert(OptionValue);
  
    //validation for credit card
  if(OptionValue == "cc"){
     if(cardNumber==""){
       $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{card_number}} </div>');
        return false;
     }

     if(cardExpiryMonth==""){
       $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{card_expiry_month}} </div>');
        return false;
     }

     if(cardExpiryYear==""){
       $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{card_expiry_year}} </div>');
        return false;
     }

     if(cardCvc==""){
       $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{card_cvc}} </div>');
        return false;
     }
   }
   //validation for debit card
   if(OptionValue == "dc"){
     if(cardNumber==""){
       $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{card_number}} </div>');
        return false;
     }

     if(cardExpiryMonth==""){
       $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{card_expiry_month}} </div>');
        return false;
     }

     if(cardExpiryYear==""){
       $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{card_expiry_year}} </div>');
        return false;
     }

     if(cardCvc==""){
       $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{card_cvc}} </div>');
        return false;
     }
   }
   //validation for wallet
   if(OptionValue == "wt"){
     if(radioWallet=='0'){
       
       $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{radio_wallet}} </div>');
        return false;
     }
   }
   //validation for netbanking
   if(OptionValue == "nb"){
     if(bankCode=='0'){
        $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{bank_code}} </div>');
        return false;
     }
   }
    
   //end of validation code 
    if ($("input:radio[name='payOpt']").is(":checked")) {
      $.ajax({
      url: 'index.php?route=extension/payment/custompayment/send',
      type: 'post',
      data: {
        cardNumber: cardNumber,
        cardexpiremonth: cardExpiryMonth,
        cardexpiryyear: cardExpiryYear,
        cardcvc: cardCvc,
        bankcode: bankCode,
        radiowallet: radioWallet,
        optionvalue: OptionValue
      },
      dataType: 'json',
      complete: function() {
        $('.alert').remove();
        $button_confirm.prop('disabled', false);
      },
      success: function(json) {
         
        if (json['error']) {
          alert(json['error']);
        }

        if (json['success']) {
          $("#message").html("Your Card Payment is Accepted : Please click on Place Order ");
          $("#custom-title").hide();
          $("#isgform").css("display", "block");
          $("#mainForm").css("display", "none");
          $(".shade").css("display", "none");
          

          
           $("input[name=EncData]").val(json['EncData']);
          //location.href = json['success'];
        }
      }
    });
    }else{
       $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> choose at least one payment mode </div>');
       return false;
    }
    return true;
  

 });


 $('input[name="card-number"]').keyup(function(e) {
    $(".alert-info").hide();
    if (/\D/g.test(this.value)) {
        // Filter non-digits from input value.
        this.value = this.value.replace(/\D/g, '');

    }
    var foo = jQuery(this).val().split("-").join(""); // remove hyphens
    if (foo.length > 0) {
        foo = foo.match(new RegExp('.{1,4}', 'g')).join("-");
    }
    $(this).val(foo);

});

$('input[name="card-expiry-month"]').keyup(function(e) {
    $(".alert-info").hide();
    this.value = this.value
        .replace(/[^\d.]/g, '') // numbers and decimals only
        .replace(/(^[\d]{2})[\d]/g, '$1') // not more than 2 digits at the beginning
        .replace(/(\..*)\./g, '$1') // decimal can't exist more than once
        .replace(/(\.[\d]{4})./g, '$1'); // not more than 4 digits after decimal

});

$('input[name="card-expiry-year"]').keyup(function(e) {
    $(".alert-info").hide();
    this.value = this.value
        .replace(/[^\d.]/g, '') // numbers and decimals only
        .replace(/(^[\d]{4})[\d]/g, '$1') // not more than 2 digits at the beginning
        .replace(/(\..*)\./g, '$1') // decimal can't exist more than once
        .replace(/(\.[\d]{6})./g, '$1'); // not more than 4 digits after decimal

});

$('input[name="card-cvc"]').keyup(function(e) {
    $(".alert-info").hide();
    this.value = this.value
        .replace(/[^\d.]/g, '') // numbers and decimals only
        .replace(/(^[\d]{3})[\d]/g, '$1') // not more than 2 digits at the beginning
        .replace(/(\..*)\./g, '$1') // decimal can't exist more than once
        .replace(/(\.[\d]{5})./g, '$1'); // not more than 4 digits after decimal

});

$('input[name="payOpt"]').click(function(e) {
    $(".alert-info").hide(); // hide error message
});
                        
</script>
