﻿<form action="{{ action }}" method="post">
  <input type="hidden" name="EncData" value="{{ EncData }}" />
  <input type="hidden" name="MerchantId" value="{{ MerchantID }}" />
  <input type="hidden" name="BankId" value="{{ BankId }}" />
  <input type="hidden" name="TerminalId" value="{{ TerminalId }}" />
  <input type="hidden" name="Version" value="{{ Version }}" />

  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
    </div>
  </div>
</form>



