{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-wallet-system" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
        </div>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-wallet-system" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-wallet-system-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="total_wk_wallet_system_status" id="input-wallet-system-status" class="form-control">
                <option value="0" {% if not status %}{{ 'selected' }}{% endif %}>  {{ text_disabled }} </option>
                <option value="1" {% if status %}{{ 'selected' }}{% endif %}>  {{ text_enabled }} </option>
              </select>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-total" data-toggle="tab">{{ tab_total }}</a></li>
            <li><a href="#tab-payment" data-toggle="tab">{{ tab_payment }}</a></li>
            <li><a href="#tab-transaction" data-toggle="tab">{{ tab_transaction }}</a></li>
            <li><a href="#tab-terms" data-toggle="tab">{{ tab_terms }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-wallet-image">{{ entry_wallet_image }}</label>
                <div class="col-sm-10">
                    <a href="" id="thumb-wallet-image" data-toggle="image" class="img-thumbnail">
                      <img src="{{ wallet_image_placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" />
                    </a>
                    <input type="hidden" name="wk_wallet_system_wallet_image" value="{{ wallet_image }}" id="input-wallet-image" />
                </div>
              </div>
              <fieldset>
                <legend><h4><b>{{ tag_recharge }}</b></h4></legend>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-min-recharge"><span data-toggle="tooltip" title="{{ help_min_recharge }}">{{ entry_min_recharge }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="wk_wallet_system_min_recharge" value="{{ min_recharge }}" placeholder="{{ entry_min_recharge }}" id="input-min-recharge" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-max-recharge"><span data-toggle="tooltip" title="{{ help_max_recharge }}">{{ entry_max_recharge }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="wk_wallet_system_max_recharge" value="{{ max_recharge }}" placeholder="{{ entry_max_recharge }}" id="input-max-recharge" class="form-control" />
                  </div>
                </div>
              </fieldset>
              {% if customer_groups is defined %}
              <fieldset style="margin-bottom: 10px;">
                <legend><h4><b>{{ tag_sign_up_credit }}</b></h4></legend>
                {% for key, value in customer_groups %}
                <div class="col-sm-12 customer-groups">
                  <div class="input-group">
                    <span class="input-group-addon">{{ value.name }}</span>
                    <input type="text" name="wk_wallet_system_register_credit[{{ value.customer_group_id }}]" value="{% if register_credit[value.customer_group_id] is defined %}{{ register_credit[value.customer_group_id] }}{% endif %}" placeholder="{{ entry_group_credit }}" class="form-control" />
                  </div>
                </div>
                {% endfor %}
              </fieldset>
              {% endif %}
              <fieldset>
                <legend><h4><b>{{ tag_low_balance }}</b></h4></legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-low-balance">{{ entry_status }}</label>
                  <div class="col-sm-10">
                    <select name="wk_wallet_system_low_balance_status" id="input-low-balance" class="form-control">
                      <option value="0" {% if not low_balance_status %}{{ 'selected' }}{% endif %}>  {{ text_disabled }} </option>
                      <option value="1" {% if low_balance_status %}{{ 'selected' }}{% endif %}>  {{ text_enabled }} </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-low-balance-amount">{{ entry_low_bal_amount }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="wk_wallet_system_low_bal_amount" id="input-low-balance-amount" value="{{ low_bal_amount }}" placeholder="{{ entry_low_bal_amount }}" class="form-control" />
                  </div>
                </div>
              </fieldset>
              <fieldset>
              <legend><h4><b>{{ tag_refund }}</b></h4></legend>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-min-refund"><span data-toggle="tooltip" title="{{ help_min_refund }}">{{ entry_min_refund }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="wk_wallet_system_min_refund" value="{{ min_refund }}" placeholder="{{ entry_min_refund }}" id="input-min-refund" class="form-control" />
                  {% if error_min_refund %}
                  <div class="text-danger">{{ error_min_refund }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-max-refund"><span data-toggle="tooltip" title="{{ help_max_refund }}">{{ entry_max_refund }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="wk_wallet_system_max_refund" value="{{ max_refund }}" placeholder="{{ entry_max_refund }}" id="input-max-refund" class="form-control" />
                  {% if error_max_refund %}
                  <div class="text-danger">{{ error_max_refund }}</div>
                  {% endif %}
                </div>
              </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="tab-total">
              <fieldset>
                <legend><h3>{{ tag_total }}</h3></legend>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-total-name">{{ entry_total_name }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="wk_wallet_system_total_name" value="{{ total_name }}" placeholder="{{ entry_total_name }}" id="input-total-name" class="form-control" />
                    {% if error_total_name %}
                    <div class="text-danger">{{ error_total_name }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="total_wk_wallet_system_sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-payment-status">{{ entry_payment_status }}</label>
                  <div class="col-sm-10">
                    <select name="wk_wallet_system_payment_status_id" id="input-payment-status" class="form-control">
                      {% for order_status in order_statuses %}
                      {% if payment_status_id is defined and order_status.order_status_id == payment_status_id %}
                      <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                      {% else %}
                      <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="tab-payment">
              <fieldset>
                <legend><h3>{{ tag_payment }}</h3></legend>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-payment-name">{{ entry_payment_name }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="wk_wallet_system_payment_name" value="{{ payment_name }}" placeholder="{{ entry_payment_name }}" id="input-payment-name" class="form-control" />
                    <input type="hidden" name="payment_wk_wallet_system_payment_status" value="0" />
                    {% if error_payment_name %}
                    <div class="text-danger">{{ error_payment_name }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
                  <div class="col-sm-10">
                    <select name="wk_wallet_system_order_status_id" id="input-order-status" class="form-control">
                      {% for order_status in order_statuses %}
                      {% if order_status_id is defined and order_status.order_status_id == order_status_id %}
                      <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                      {% else %}
                      <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="tab-transaction">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-transaction-status">{{ entry_transaction_status }}</label>
                <div class="col-sm-10">
                  <select name="wk_wallet_system_transaction_status" id="input-transaction-status" class="form-control">
                    <option value="0" {% if not transaction_status %}{{ 'selected' }}{% endif %}> {{ text_no }} </option>
                    <option value="1" {% if transaction_status %}{{ 'selected' }}{% endif %}> {{ text_yes }} </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-transaction"><span data-toggle="tooltip" title="{{ help_max_number_transaction }}">{{ entry_transact_limit }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="wk_wallet_system_transact_limit" value="{{ transact_limit }}" placeholder="{{ entry_transact_limit }}" class="form-control" id="input-transaction" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-min-transaction"><span data-toggle="tooltip" title="{{ help_min_transaction_amount }}">{{ entry_min_transact }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="wk_wallet_system_min_transact" value="{{ min_transact }}" placeholder="{{ entry_min_transact }}" class="form-control" id="input-min-transaction" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-max-transaction"><span data-toggle="tooltip" title="{{ help_max_transaction_amount }}">{{ entry_max_transact }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="wk_wallet_system_max_transact" value="{{ max_transact }}" placeholder="{{ entry_max_transact }}" class="form-control" id="input-max-transaction" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-amount"><span data-toggle="tooltip" title="{{ help_amount_limit }}">{{ entry_amount_limit }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="wk_wallet_system_amount_limit" value="{{ amount_limit }}" placeholder="{{ entry_amount_limit }}" id="input-amount" class="form-control" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-terms">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-terms">{{ entry_terms }}</label>
                <div class="col-sm-10">
                  <textarea name="wk_wallet_system_terms" id="input-terms" data-toggle="summernote" class="form-control" rows="12" value="">{{ terms }}</textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .customer-groups .input-group {
    width: 50%;
  }
  .customer-groups .input-group-addon {
    width: 40%;
  }
  @media only screen and (max-width: 768px) {
    .customer-groups .input-group {
      width: 100%;
    }
  }
</style>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
{{ footer }}
