{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-pp-express" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-custompayment" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_Version_help }}">{{ entry_Version }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_custompayment_Version" value="{{ payment_custompayment_Version }}" placeholder="{{ entry_Version }}" id="input-vendor" class="form-control" />
              {% if error_Version %}
              <div class="text-danger">{{ error_Version }}</div>
              {% endif %}

            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_AccessCode_help }}">{{ entry_AccessCode }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_custompayment_AccessCode" value="{{ payment_custompayment_AccessCode }}" placeholder="{{ entry_AccessCode }}" id="input-vendor" class="form-control" />
              {% if error_AccessCode %}
              <div class="text-danger">{{ error_AccessCode }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_BankId_help }}">{{ entry_BankId }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_BankId" value="{{ payment_custompayment_BankId }}" placeholder="{{ entry_BankId }}" id="input-vendor" class="form-control" />
                        {% if error_BankId %}
                        <div class="text-danger">{{ error_BankId }}</div>
                        {% endif %}
                      </div>
          </div>

          <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_TerminalId_help }}">{{ entry_TerminalId }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_TerminalId" value="{{ payment_custompayment_TerminalId }}" placeholder="{{ entry_TerminalId }}" id="input-vendor" class="form-control" />
                        {% if error_TerminalId %}
                        <div class="text-danger">{{ error_TerminalId }}</div>
                        {% endif %}
                      </div>
          </div>
          <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_MerchantID_help }}">{{ entry_MerchantID }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_MerchantID" value="{{ payment_custompayment_MerchantID }}" placeholder="{{ entry_MerchantID }}" id="input-vendor" class="form-control" />
                        {% if error_MerchantID %}
                        <div class="text-danger">{{ error_MerchantID }}</div>
                        {% endif %}
                      </div>
          </div>
           <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_MCC_help }}">{{ entry_MCC }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_MCC" value="{{ payment_custompayment_MCC }}" placeholder="{{ entry_MCC }}" id="input-vendor" class="form-control" />
                        {% if error_MCC %}
                        <div class="text-danger">{{ error_MCC }}</div>
                        {% endif %}
                      </div>
          </div>
          <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_CurrencyCode_help }}">{{ entry_CurrencyCode }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_CurrencyCode" value="{{ payment_custompayment_CurrencyCode }}" placeholder="{{ entry_CurrencyCode }}" id="input-vendor" class="form-control" />
                        {% if error_CurrencyCode %}
                        <div class="text-danger">{{ error_CurrencyCode }}</div>
                        {% endif %}
                      </div>
          </div> 
          <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_TransactionType_help }}">{{ entry_TransactionType }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_TransactionType" value="{{ payment_custompayment_TransactionType }}" placeholder="{{ entry_TransactionType }}" id="input-vendor" class="form-control" />
                        {% if error_TransactionType %}
                        <div class="text-danger">{{ error_TransactionType }}</div>
                        {% endif %}
                      </div>
          </div>   
          <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_SecureKey_help }}">{{ entry_SecureKey }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_SecureKey" value="{{ payment_custompayment_SecureKey }}" placeholder="{{ entry_SecureKey }}" id="input-vendor" class="form-control" />
                        {% if error_SecureKey %}
                        <div class="text-danger">{{ error_SecureKey }}</div>
                        {% endif %}
                      </div>
          </div>
          <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_EncryptionKey_help }}">{{ entry_EncryptionKey }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_EncryptionKey" value="{{ payment_custompayment_EncryptionKey }}" placeholder="{{ entry_EncryptionKey }}" id="input-vendor" class="form-control" />
                        {% if error_EncryptionKey %}
                        <div class="text-danger">{{ error_EncryptionKey }}</div>
                        {% endif %}
                      </div>
          </div> 
          <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_GatewayProductionURL_help }}">{{ entry_GatewayProductionURL }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_GatewayProductionURL" value="{{ payment_custompayment_GatewayProductionURL }}" placeholder="{{ entry_GatewayProductionURL }}" id="input-vendor" class="form-control" />
                        {% if error_GatewayProductionURL %}
                        <div class="text-danger">{{ error_GatewayProductionURL }}</div>
                        {% endif %}
                      </div>
          </div>  
          <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_GatewayTestURL_help }}">{{ entry_GatewayTestURL }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_GatewayTestURL" value="{{ payment_custompayment_GatewayTestURL }}" placeholder="{{ entry_GatewayTestURL }}" id="input-vendor" class="form-control" />
                        {% if error_GatewayTestURL %}
                        <div class="text-danger">{{ error_GatewayTestURL }}</div>
                        {% endif %}
                      </div>
          </div>  

          <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_ReturnURL_help }}">{{ entry_ReturnURL }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_ReturnURL" value="{{ payment_custompayment_ReturnURL }}" placeholder="{{ entry_ReturnURL }}" id="input-vendor" class="form-control" />
                        {% if error_ReturnURL %}
                        <div class="text-danger">{{ error_ReturnURL }}</div>
                        {% endif %}
                      </div>
          </div>  
          <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_StatusURL_help }}">{{ entry_StatusURL }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_StatusURL" value="{{ payment_custompayment_StatusURL }}" placeholder="{{ entry_StatusURL }}" id="input-vendor" class="form-control" />
                        {% if error_StatusURL %}
                        <div class="text-danger">{{ error_StatusURL }}</div>
                        {% endif %}
                      </div>
          </div>
          <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-vendor"><span data-toggle="tooltip" title="{{ entry_RefundURL_help }}">{{ entry_RefundURL }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="payment_custompayment_RefundURL" value="{{ payment_custompayment_RefundURL }}" placeholder="{{ entry_RefundURL }}" id="input-vendor" class="form-control" />
                        {% if error_RefundURL %}
                        <div class="text-danger">{{ error_RefundURL }}</div>
                        {% endif %}
                      </div>
          </div> 
                    
          
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="custompayment_merchant_type">{{ entry_merchant_type }}</label>
            <div class="col-sm-10">
              <p>
                <input type="hidden" name="payment_custompayment_merchant_type[twoparty]" value="0" />
                <input type='checkbox' name='payment_custompayment_merchant_type[twoparty]' id="custompayment_merchant_type" value='1' {{ payment_custompayment_merchant_type.twoparty is defined and payment_custompayment_merchant_type.twoparty == 1 ? 'checked="checked"' : '' }} /> {{ entry_merchant_type_twoparty }}
              </p>
              <p>
                <input type="hidden" name="payment_custompayment_merchant_type[threeparty]" value="0" />
                <input type='checkbox' name='payment_custompayment_merchant_type[threeparty]' value='1' {{ payment_custompayment_merchant_type.threeparty is defined and payment_custompayment_merchant_type.threeparty == 1 ? 'checked="checked"' : '' }} /> {{ entry_merchant_type_threeparty }}
              </p>
              
      			  {% if error_merchant_type %}
      			  <div class="text-danger">{{ error_merchant_type }}</div>
      			  {% endif %}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_custompayment_completed_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_custompayment_completed_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-failed-status">{{ entry_order_status_failed_text }}</label>
            <div class="col-sm-10">
              <select name="payment_custompayment_failed_status_id" id="input-order-failed-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_custompayment_failed_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_custompayment_status" id="input-status" class="form-control">
                {% if payment_custompayment_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<script>
$(document).ready(function(){
    $('input:checkbox').click(function() {
        $('input:checkbox').not(this).prop('checked', false);
    });
});
</script>
