{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-email">{{ entry_email }}</label>
                <input type="text" name="filter_email" value="{{ filter_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-left">{% if sort == 'cd.name' %}
                  <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                  {% else %}
                  <a href="{{ sort_name }}">{{ column_name }}</a>
                  {% endif %}</td>
                <td class="text-left">{% if sort == 'c.email' %}
                  <a href="{{ sort_email }}" class="{{ order|lower }}">{{ column_email }}</a>
                  {% else %}
                  <a href="{{ sort_email }}">{{ column_email }}</a>
                  {% endif %}</td>
                <td class="text-left">{{ column_balance }}</td>
                <td class="text-center">{{ column_bank_details }}</td>
              </tr>
            </thead>
            <tbody>
              {% if customers %}
              {% for customer in customers %}
              <tr>
                <td class="text-left">{{ customer.name }}</td>
                <td class="text-left">{{ customer.email }}</td>
                <td class="text-left">{{ customer.balance }}</td>
                <td class="text-center"><button class="btn btn-info showBank" data-toggle="modal" data-target="#showBank" customer="{{ customer.customer_id }}"><i class="fa fa-eye"></i></button></td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="4">{{ text_no_results }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <div id="showBank" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ column_bank_details }}</h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <tr>
                <th class="text-left" style="width: 40%">{{ entry_bank_name }}</th>
                <td class="text-left" id="bank-name"></td>
              </tr>
              <tr>
                <th class="text-left">{{ entry_bank_branch_number }}</th>
                <td class="text-left" id="bank-branch"></td>
              </tr>
              <tr>
                <th class="text-left">{{ entry_bank_swift_code }}</th>
                <td class="text-left" id="bank-swift"></td>
              </tr>
              <tr>
                <th class="text-left">{{ entry_bank_account_name }}</th>
                <td class="text-left" id="bank-account"></td>
              </tr>
              <tr>
                <th class="text-left">{{ entry_bank_account_number }}</th>
                <td class="text-left" id="bank-number"></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ button_close }}</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
var json_data = '{{ json }}';
var json = JSON.parse(json_data);

$('#button-filter').on('click', function() {
  url = 'index.php?route=wallet/customer_details&user_token={{ user_token }}';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_email = $('input[name=\'filter_email\']').val();

  if (filter_email) {
    url += '&filter_email=' + encodeURIComponent(filter_email);
  }

  location = url;
});
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['customer_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_name\']').val(item['label']);
  }
});

$('input[name=\'filter_email\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['email'],
            value: item['customer_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_email\']').val(item['label']);
  }
});
//--></script>
<script type="text/javascript">
  $('.showBank').on('click', function () {
    var customer_id = $(this).attr('customer');
    var customer_details = json[customer_id];

    $('#bank-name').text(customer_details['bank_name']);
    $('#bank-branch').text(customer_details['bank_branch_number']);
    $('#bank-swift').text(customer_details['bank_swift_code']);
    $('#bank-account').text(customer_details['bank_account_name']);
    $('#bank-number').text(customer_details['bank_account_number']);
  });
</script>
</div>
{{ footer }}
