{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
      <div class="pull-right"><button data-toggle="modal" data-target="#addDebit" class="btn btn-primary"><i class="fa fa-plus"></i> {{ text_add_debit }}</button></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-email">{{ entry_email }}</label>
                <input type="text" name="filter_email" value="{{ filter_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-order-id">{{ entry_order_id }}</label>
                <input type="text" name="filter_order_id" value="{{ filter_order_id }}" placeholder="{{ entry_order_id }}" id="input-order-id" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-amount">{{ entry_amount }}</label>
                <input type="text" name="filter_amount" value="{{ filter_amount }}" placeholder="{{ entry_amount }}" id="input-amount" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-date-added">{{ entry_date }}</label>
                <div class="input-group date">
                  <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-left">{% if sort == 'cd.name' %}
                  <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                  {% else %}
                  <a href="{{ sort_name }}">{{ column_name }}</a>
                  {% endif %}</td>
                <td class="text-left">{% if sort == 'c.email' %}
                  <a href="{{ sort_email }}" class="{{ order|lower }}">{{ column_email }}</a>
                  {% else %}
                  <a href="{{ sort_email }}">{{ column_email }}</a>
                  {% endif %}</td>
                <td class="text-right">{% if sort == 'c.order_id' %}
                  <a href="{{ sort_order_id }}" class="{{ order|lower }}">{{ column_order_id }}</a>
                  {% else %}
                  <a href="{{ sort_order_id }}">{{ column_order_id }}</a>
                  {% endif %}</td>
                <td class="text-left">{% if sort == 'c.date' %}
                  <a href="{{ sort_date }}" class="{{ order|lower }}">{{ column_date }}</a>
                  {% else %}
                  <a href="{{ sort_date }}">{{ column_date }}</a>
                  {% endif %}</td>
                <td class="text-left">{% if sort == 'c.amount' %}
                  <a href="{{ sort_amount }}" class="{{ order|lower }}">{{ column_amount }}</a>
                  {% else %}
                  <a href="{{ sort_amount }}">{{ column_amount }}</a>
                  {% endif %}</td>
                <td class="text-left">{{ column_description }}</td>
              </tr>
            </thead>
            <tbody>
              {% if debits %}
              {% for debit in debits %}
              <tr>
                <td class="text-left">{{ debit.name }}</td>
                <td class="text-left">{{ debit.email }}</td>
                <td class="text-right">{{ debit.order_id }}</td>
                <td class="text-left">{{ debit.date }}</td>
                <td class="text-left">{{ debit.amount }}</td>
                <td class="text-left">{{ debit.desc }}</td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="5">{{ text_no_results }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <div id="addDebit" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ text_add_debit }}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label" for="input-customer-name">{{ entry_name }}</label>
            <input type="text" name="name" placeholder="{{ entry_name }}" id="input-customer-name" class="form-control customerName" />
            <input type="hidden" name="customer_id" id="input-customer" class="form-control" />
          </div>
          <div class="form-group">
            <label class="control-label" for="input-debit-amount">{{ entry_amount }}</label>
            <input type="number" step="10" name="amount" placeholder="{{ entry_amount }}" id="input-debit-amount" class="form-control" />
          </div>
          <div class="form-group">
            <label class="control-label" for="input-description">{{ entry_description }}</label>
            <textarea name="description" placeholder="{{ entry_description }}" id="input-description" class="form-control"></textarea>
          </div>
          <input type="submit" class="btn btn-primary" id="button-debit">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ button_close }}</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  url = 'index.php?route=wallet/wk_debits&user_token={{ user_token }}';

  var filter_order_id = $('input[name=\'filter_order_id\']').val();

  if (filter_order_id) {
    url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
  }

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_email = $('input[name=\'filter_email\']').val();

  if (filter_email) {
    url += '&filter_email=' + encodeURIComponent(filter_email);
  }

  var filter_amount = $('input[name=\'filter_amount\']').val();

  if (filter_amount) {
    url += '&filter_amount=' + encodeURIComponent(filter_amount);
  }

  var filter_date_added = $('input[name=\'filter_date_added\']').val();

  if (filter_date_added) {
    url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
  }

  location = url;
});
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['customer_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_name\']').val(item['label']);
  }
});

$('input[name=\'name\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'] + ' (' + item['email'] + ')',
            value: item['customer_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'name\']').val(item['label']);
    $('input[name=\'customer_id\']').val(item['value']);
  }
});

$('input[name=\'filter_email\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['email'],
            value: item['customer_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_email\']').val(item['label']);
  }
});
//--></script>
  <script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});
//--></script>
<script type="text/javascript">
  $('#button-debit').on('click', function () {
    var customer_id = $('#input-customer').val();
    var amount = $('#input-debit-amount').val();
    var description = $('#input-description').val();
    var thisthis = $(this);

    $.ajax({
      url: 'index.php?route=wallet/wk_debits/addDebit&user_token={{ user_token }}',
      dataType: 'json',
      type: 'post',
      data: {customer_id: customer_id, amount: amount, description: description},
      beforeSend: function () {
        $('.alert').remove();
        $('.text-danger').remove();
        $('.form-group').removeClass('has-error');
        thisthis.after(' <i class="fa fa-spinner fa-spin"></i>');
      },
      success: function (json) {
        $('.fa-spinner').remove();

        if (json['error']) {
          html = '<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button data-dismiss="alert" class="close" type="button">×</button></div>';
          $('.modal-body').prepend(html);
          if (json['customer']) {
            html = '<div class="text-danger">' + json['customer'] + '</div>';
            $('#input-customer').after(html).parent().addClass('has-error');
          };
          if (json['amount']) {
            html = '<div class="text-danger">' + json['amount'] + '</div>';
            $('#input-debit-amount').after(html).parent().addClass('has-error');
          };
          if (json['description']) {
            html = '<div class="text-danger">' + json['description'] + '</div>';
            $('#input-description').after(html).parent().addClass('has-error');
          };
        };
        if (json['success']) {
          html = '<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '<button data-dismiss="alert" class="close" type="button">×</button></div>';
          $('.panel').before(html);
          $('#input-customer-name').val('');
          $('#input-customer_id').val('');
          $('#input-debit-amount').val('');
          $('#input-description').val('');
          $('.in').trigger('click');
          location.reload();
        };
      }
    });
  });
</script>
</div>
{{ footer }}
