.feature-custom-container .product-thumb .button-group button, .product-thumb .button-group button:hover {
    background-color: transparent!important;
}
.feature-custom-container .product-thumb .button-group button {
    width: auto!important;
    /* border: none; */
    display: inline-block;
    float: left;
    /* background-color: #eee; */
    /* color: #888; */
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #31b0d5;
}

.feature-custom-container .product-thumb .button-group button .fa {
    color: #31b0d5!important;
    height: 35px;
    width: 36px;
    /* padding: 6px 8px 9px 6px;
    margin-top: 5px;
    font-size: 22px; */
}

.product-thumb .button-group button .fa {
    color: #fff!important;
    height: 35px;
    width: 35px;
    padding: 6px 8px 9px 6px;
    margin-top: 5px;
    font-size: 22px;
    /* border: 1px solid #000; */
}