html{
	width: 100%;
	height: auto;
	background-color:#000;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #161616;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	display: inline-block;
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 0px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 0 0;
	min-height: 40px;
}
#top .container {
	padding: 0;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
	width: 100%;
	/* display: inline; */
}

.open>.dropdown-menu li:hover{
	color: #23a1d1!important;
	width: 100%;
}

.dropdown-menu>li:hover{
	    color: #23a1d1!important;
}
#top-links .dropdown{background:none!important;}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
/* commented by lalu */
/* #top-links {
	padding-top: 6px;
} */
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 10px 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 18px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #000;
	background: transparent;
    border:0px;
	text-shadow:none;
    box-shadow: none;
    padding: 0;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}

@media(max-width: 375px){
	.round-box-shadow{
		width: 240px!important;
		right: 40px!important;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
	margin-left: -1px;
	min-width: -moz-available;
	min-width:-webkit-fill-available;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 183px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF!important;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #7ac209;
	margin-bottom: 5px;
}

footer p {
	margin-bottom: 20px;
	font-size: 13px;
}

/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #fff;
	text-shadow: none);
	background-color: #1470B1;
	background-image:none;
	background-repeat: repeat-x;
	border-color: #1470B1 #1470B1 #1470B1 #1470B1;
	padding:3px 5px;
}

.btn-default .fa{border:0!important;}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
/*	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;*/
}
.btn-danger{    padding: 0px;
    background-color: #323946;}
.btn-danger i {width: 20px;
    height: 20px;
    padding: 0px;
    font-size: 17px;
    border: 1px solid #000;
    background-color: #323946;	background-repeat: repeat-x;
    color: #fff !important;
}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
/*	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);*/
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #fff!important	;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow:none!important;
	
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
	display:none;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}

.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
	font-weight: 600;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	/*width: 60%;*/
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-left: 3px;
	border:1px solid #1470B1 !important;
	margin-bottom: 3px;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	/* margin-left: 20px; */
	text-align: center;
}
/* .thumbnails {
	margin-left: -20px;
} */
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		/* clear:left; */
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		/* clear:left; */
	}
	.go-down{width:33.33%!important; float:left;}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}/**********************Edited By SB*********************/
body{
	font-size:14px!important; color:#161616!important; font-family:Arial!important; overflow-x:hidden;
}

h1, h2{font-size:16px;}

/* .container{	width:100%;} */#logo{} 
#logo img{width:255px;padding-top:6px;} 
.logo-container{width:45%}

#top{	background-color:#fff; height:60px; border-bottom:solid 0px #d8d8d8; /* padding-top:20px; */}
#top .pull-left{	display:none;}
/* #top-links a{	color:#323946; display:inline-block; } */.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{	background-color:#fff; }
.fa{font-size:18px; border:solid 1px #d8d8d8; border-radius:120px; height:34px; width:34px; padding:8px 9px 8px 7px;
}span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg{    display : none;}
.list-inline > li{padding:0 30px 0 0;}


#top-links li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.dropdown-menu li:hover{
	/* background-color: #229ac8; */
}

#cart > .btn:hover i
{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
	background-color:#22a7e9;
	color:#fff;
}

#cart > .btn i
{
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

#top-links i {
	color: #1470B1;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
#top-links i img{width:95%; margin-top:-4px;}

#top-links i:hover
{background-color:#22a7e9; border-color:#22a7e9; color:#fff;}


#search 
{
	background:url(../image/searchicon.jpg) no-repeat 15px center !important;
}

#search .input-lg{height:44px; border:solid 1px #d8d8d8; border-radius:2px; padding-left:50px; background-color:transparent; border-top-right-radius: 
0;border-bottom-right-radius: 0; border-right:0; background:url(../image/grn-arrow.jpg) no-repeat right center !important;}
#search .input-group-btn{ background-color:#7ac209;  height:44px; border-radius:2px; border-top-left-radius: 0;border-bottom-left-radius: 0; }
.btn{border-radius:2px;}

#search .btn-lg, #search .btn-default{ background-color:transparent; background-image:none; border:0; box-shadow:none; text-shadow:none; color:#fff;}

.upload-btn{
	float:right; background-color: #002845!important; border:0!important; border-radius:3px; padding:13px 15px; color:#fff; font-size:18px;
	box-shadow:none!important; background-image:none!important; border:solid 1px #d8d8d8; transition: all 0.5s;
}

.upload-btn span.glyphicon {font-size:25px!important; margin-right:10px;}

.upload-btn:hover, .upload-btn:focus, .upload-btn:active{
	background-color: #1470B1!important; color:#fff;
}
.grn-btn{
background-color: #7ac209!important; border:0!important; border-radius:2px; padding:15px 25px; color:#fff; font-size:22px;
	box-shadow:none!important; background-image:none!important; border:solid 1px #d8d8d8; transition: all 0.5s;
}

.descrption{margin:15px 0!important; min-height:50px;}

.grn-btn:hover, .grn-btn:focus, .grn-btn:active{
	background-color: #7ac209!important; color:#fff;
}

.upload-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding-left: 35px;
}

.upload-btn span:after  {
  content: '\e027';
  font-family: 'Glyphicons Halflings';

	font-style: normal;

	font-weight: 400;

	line-height: 1;
  position: absolute;
  opacity: 1;
  top: -3px;
  left: 0;
  transition: 0.5s;
  font-size:24px;
}

.upload-btn:hover span {
  padding-left: 40px;
}

.upload-btn:hover span:after {
  opacity: 1;
  left: -5;
  
}

header{border-bottom:solid 1px #d8d8d8; padding-bottom:6px; /*margin-top:125px;*/}

#menu{background-color:transparent!important; border:0!important; border-radius:0; background-image:none; margin-bottom:0!important;}

#menu .nav > li > a{color:#161616; text-shadow:none; font-size:16px; padding:14px 28px;	}

#menu .nav > li > a:hover, #menu .nav > li.open > a
{
	background-color:#fff;
}

   .topmenudesign{ background-color: #002845!important;
    margin: 0px;
    padding: 0px;
    width: 100%;}
#menu .nav > li > a {
  transition: 0.3s ease;
  text-decoration: none;
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff;
  /*padding: 27px 18px 22px 18px;
  padding:6px 6px 12px 18px;*/
  margin: 0;
  text-transform: uppercase;
      font-weight: 700;
    color: #fff;
}
#menu .nav > li > a:hover {
  border-top: 0px solid #22a7e9;
  border-bottom: 0px solid #22a7e9;
}

#common-home{/*width:97%!important; padding:0; margin-left:-1.5%; margin-right:-1.5%;*/}

.swiper-viewport{box-shadow:none; border-radius:0; border:0;}

.dropdown, .dropdown:hover{ background:url(../image/dropdown.jpg) no-repeat right center!important; }



.green-head{font-size:18px; font-weight:700; color:#fff; text-transform:uppercase; margin:0!important; margin-bottom:10px!important; text-align:center;  }

.go-green{background-color:#7ac209; padding-top:0px; padding-bottom:0px;}

.swiper-viewport{margin-bottom:10px!important;}

.pad-rl{padding:15px 60px 15px 0; /*border-right:solid 4px #fff;*/ min-height:189px; color:#fff!important; background:url(../image/goahead.png) no-repeat right center!important;}

.pad-rl:last-child{border-right:0; background:none!important;}

.pad-rl p{margin-bottom:10px; text-align:center; min-height:40px;}

@media (max-width: 1211px) {
	.pad-rl p {min-height:60px;}
}

.prod-img{border-radius:120px; width:100px; transition: 0.5s; height:100px; background-color:#e4e4e4; margin-right:20px; float:left; }
.prod-img:hover{border:solid 5px #1470B1;}
.prod-img img{border-radius:120px;}
.prod-section{float:left; width:50%; margin-top:5px;}
.prod-name{color:#161616; font-size:16px; float:left; margin-bottom:5px; width:100%; font-weight:700;}

.star{margin:0 0 5px 0; width:100%;}

.glyphicon-star{color:#ff0000; font-size:16px; margin-right:2px;}

.feature-section{width:100%; /*background:url(../image/feature-bg.jpg) no-repeat center top; background-size:cover;*/ border-top:10px solid #fff; border-bottom:10px solid #fff; box-shadow:0px 0px 8px #787777; 
margin:0px auto 0; padding-bottom:10px; margin-bottom: 25px;}

.feature-section h3{
font-size:24px; color:#636363; text-align:center; margin-top:15px; background:url(../image/feature-icon.png) center bottom no-repeat; padding-bottom:50px; 
text-transform:uppercase; font-weight:700;
}

.product-thumb .caption{min-height:auto;}

.half-width{width:50%; margin:0 auto;}

.feature-section .half-width {
	margin: 15px auto !important;
}

.product-thumb{
	background-color: #ffffff;
    border-radius: 2px;
    border: solid 1px #f7f7f7;
    padding: 7px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

.product-thumb .descrption { min-height: auto; margin: 0 !important; font-size: 0px; line-height:10px;}

.caption h4{color:#4b4a4a; font-size:16px; text-align:center; font-weight:700;}

.caption h4 a{color:#1470B1;}

.brdr-btn{border:solid 2px #22a7e9; border-radius:2px; background-color:#fff; color:#444444; padding:15px 35px;  transition: all 0.5s;}

.brdr-btn:hover{ background-color:#22a7e9; color:#fff; box-shadow: inset 0 0 0 5px #22a7e9;}

.algn-center{text-align:center!important;}


.discount-section{width:100%;  
margin:0 auto 0; padding-bottom:40px; padding-top:0px; background:url(../image/section-shadow.jpg) left bottom repeat-x;}

.discount-section .inner-dv{width:90%; margin:10px auto;}

.discount-section h3{
font-size:24px; color:#002845; text-align:center; margin-top:0px; margin-bottom:30px; background:url(../image/feature-icon.png) center bottom no-repeat; padding-bottom:50px; 
text-transform:uppercase; font-weight:700;
}

.discount-prod{ border-right:solid 0px #22a7e9;}

.discount-prod:last-child{ border-right:solid 0px #22a7e9;}

.discount-prod img {min-width:120px; max-width:100%; text-align:center; display:block; margin-left:auto; margin-right:auto; }

.discount-prod h2{color:#4b4a4a; margin:25px 0; text-align:left; font-size:16px; font-weight:700; text-transform: lowercase!important;}

.discount-prod .price{font-size:14px; float:left; width:100%; font-weight:700; color:#f00707; border-top:solid 1px #ddd; border-bottom:solid 1px #ddd; padding:8px 0!important;}

.discount-prod .price .fa-shopping-cart{color:#4b4a4a; border:0px; float:right; margin-right:5px; padding:0 5px; height:auto;}

.srtick-th{ text-decoration: line-through;}

.gnr-color{color:green; font-weight:700;}


.healthcare-sec{padding:0px 0; border-bottom:solid 1px #d8d8d8;}

.health-title{ color:#7ac209; font-size:24px;  text-transform:uppercase; background:url(../image/health-icon.jpg) no-repeat center bottom;  margin-top:0px;  padding-bottom:60px; text-align:center; font-weight:700;}

.health-prod{width:100%; float:left;}

.health-prod li{float:left; width:50%; margin-bottom::15px; list-style-type:none;}

.img-container{width:76px; height:76px; float:left; display:block; border-radius:120px; background-color:#ccc; margin-right:15px; margin-top:15px;}

.img-container img{border-radius:120px;}

.health-desc{ width:75%; float:left; }

.health-desc h2{font-size:16px;}

.health-desc a{color:#1f86cb;}

.brd-container{ border:solid 1px #d8d8d8; width:100%; height:300px; padding:20px;
 /*background: linear-gradient(to bottom, #fff 50%, #d8d8d8 100%);*/ background:url(../image/blue-bg.png) no-repeat center center; background-size:90% 90%; 
}

.brd-container img{
	  /*position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}

.brand-titl{color:#636363; font-weight:700; font-size:24px; text-transform:uppercase; text-align:center; margin-bottom:30px; }

.my-customer-section{
    width: 95%;
    margin: 0 auto 0;
    padding-bottom: 40px;
    padding-top: 0px;
}

/* .cutomer-section{width:100%;  
margin:0 auto 0; padding-bottom:60px; padding-top:50px;} */

.customer-section h3{
font-size:24px; color:#636363; text-align:center; margin-top:30px; margin-bottom:25px; background:url(../image/cust-bg.jpg) center bottom no-repeat; padding-bottom:50px; 
text-transform:uppercase; font-weight:700;
}

.customer-section .swiper-viewport{box-shadow:none!important;}

.customer-section .swiper-slide{ border:solid 1px #d8d8d8; border-radius:2px 2px 6px 6px; background-color:#fff; height:185px; margin:0 10px;padding: 0px;}

/*.customer-section .swiper-slide img{border:solid 1px #ccc; border-radius:120px; width:100px; height:100px; margin:10px auto;}*/
.customer-section .swiper-slide img{border:solid 1px #ccc; height:100px; margin:10px auto;}

.cst-name{font-size:16px; text-align:center;}

.cst-des{background-color:#1470B1!important; border-radius:0px; padding:10px 10px 10px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
color:#fff; width:100%; background:url(../image/dwn-aro.png) no-repeat center top; float:left; text-align:left; height:34px;
} 
.cst-des p{height:58px;overflow:hidden;}

.mor-cust{width:100%; margin:5px 0; display:block; float:left; display: none;}

.mor-cust .more{ background-color:#fff; color:#161616; border:0px; float:right; padding:10px 20px; border-radius:2px;
border-top-right-radius: 0;
border-bottom-right-radius: 0; margin-right:-10px;
}
.swiper-viewport{width:90%!important; margin:0 auto 0px!important;}
.swiper-pagination {display:none!important;}

.swiper-viewport .swiper-button-next{right:-60px!important; border-radius:120px; background-color:#787878; font-size:12px; width:30px!important; height:30px!important; opacity:1!important;}
.swiper-viewport .swiper-button-prev{left:-60px!important; border-radius:120px; background-color:#787878; font-size:12px; width:30px!important; height:30px!important; opacity:1!important;}

.swiper-pager{line-height:32px!important}

.swiper-button-next::before, .swiper-button-prev::before{font-size:14px!important; color:#fff!important; margin-left:9px; line-height:32px!important;  width:30px!important; height:30px!important;}

.swiper-button-next::before {margin-left: 11px;}

.tab-pane table {
	font-size: 14px;
}

.full-wide{width:100%!important; 
	/* margin-left:-5%!important; */
}

#menu #category{display:none!IMPORTANT;}

.my-banner{margin:0; padding:0; width:100%; min-height:450px; background:url(../image/banner1.jpg) no-repeat left top;
background-size:cover;
}
.swiper-viewport{box-shadow:none!important; border:0px!important; margin-bottom:10px;}

/*@media (max-width: 1100px) {
	.container{width:95%}
}
*/
@media (max-width: 991px)
{
	
	.pad-rl{border-right:0px; /*border-bottom:dashed 1px #161616;*/ background:url(../image/goahead-dwn.png) no-repeat center bottom!important; margin-bottom:30px; width:90%;  
	margin-left:auto; margin-right:auto; float:none; padding:30px 30px 60px; background-size:50% !important;}
	
	.product-thumb{width:90%; margin-left:auto; margin-right:auto;}
	
	.discount-prod{border-right:0;  border-bottom:solid 1px #22a7e9; margin-bottom:30px; width:100%; padding-bottom:20px; float:left;}
	
	.discount-prod img{display:inline-block; float:left; margin-left:0; margin-right:15px;}
	
	.shift-lft{float:left; width:100%;}
	.discount-prod h2{margin-top:0;}
	.brand-titl{margin-top:50px; float:left;  width:100%;}
	.brd-container{float:left; width:100%;}
	.width-sml{width:80%;}
	.discount-prod:last-child {
		border-right: solid 0px #22a7e9; border-bottom: solid 0px #22a7e9; padding-bottom:0;
	}
	
	.inner-dv a
	{
		text-align:center;
	}
}

@media (max-width: 767px) {
   .logo-container{width:100%}
   #logo img{width:220px; max-width:220px;}
  /* #top .container{width:100%;}*/
  #menu{margin-top:0;}
  
}

@media (max-width: 767px) {
    header{/*MARGIN-TOP:160PX;*/ padding-bottom:20px;}
   /* .logo-container{width:52%}
   #logo img{width:300px; max-width:300px;} */
   
  
   
   #menu{/*margin-top: -200px!important; width:90%;*/ position:absolute; top:85px; z-index:3000;}
   #menu .btn-navbar{margin-top: -63px!important;}
   #menu .btn-navbar, #menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled]
   {background-color:transparent!important; background-image:none!important; border:0px!important; padding:0!important; box-shadow:none;
   position:fixed; right:15px;
   }
   #top .container{width:100%; background-color:#fff; margin:0; padding:0 0px;}
   header{/*margin-top:180px!important;*/}
   #menu .btn-navbar .fa{ background-color:#1470B1!important; color:#fff;}
   
   .navbar-header{WIDTH:40%!IMPORTANT; float:right!IMPORTANT;}
   .navbar-collapse{Background-color:#fff!important; position:fixed; width:100%;}
   
   .navbar-nav{ margin:0px 0; padding-top:15px;/*border:solid 3px #1470B1;*/ background-color:#eaeaea;}
   #menu{background-color:#eaeaea;}
   
   #menu .nav > li > a
   {
	   color:#1d1d1d;
   }
   
   #menu .nav > li > a:hover
   {
	   color:#1470B1;
   }
   
   .navbar-collapse.in{padding:0;max-height: calc(100vh - 60px);overflow-y: auto;}
   .dropdown, .dropdown:hover{    
   background: url(../image/dropdown1.png) no-repeat 95% 15px !important;
	}
	#menu .nav > li.dropdown  > a:hover, #menu .nav > li.dropdown  > a
	{
		background-color:#fff; background: url(../image/dropdown1.png) no-repeat 95% 15px !important;
	}
	
	#menu div.dropdown-menu{background-color:#fff;}
	
	#menu div.dropdown-menu a{
		color:#1d1d1d;
	}
	#menu div.dropdown-menu a:hover{color:#1470B1; background-color:transparent;}
	.feature-section h3{font-size:24px;}
	.half-width{width:90%;}
	.discount-section{padding-left:20px; padding-right:20px;}
	.discount-section h3{font-size:24px;}
	.feature-section{padding-left:20px; padding-right:20px;}
	.health-title{font-size:24px;}
	.brand-titl{font-size:24px;}
	.customer-section h3{font-size:24px;}
	.customer-section{width:85%;}
}


@media (max-width: 567px) {
	.pad-rl{width:100%;}
	.product-thumb{width:100%;}
	.width-sml{width:90%;}
}


.button {
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  
  opacity: 0;
  top: 0;
  padding-right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



/***************Banner start*********/


.carousel,
.item,
.active {
    height: auto;
}

.carousel-inner {
  /*height: 100%;*/
  height:auto;
  background: #000;
}

.carousel-caption{padding-bottom:80px;}

h2{font-size: 60px;}
p{padding:10px}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 400px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
   /* opacity:0.6;*/
}




/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 16px;
}

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 0.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}




/*************Banner End******/


.breadcrumb{border:0px!important;
background-color:#1470B1!important; display:none;
}

.breadcrumb li a{color:#fff!important;}

#product-category{/*border-top:5px solid #454444!important;*/ padding-top:20px; /*background-image: linear-gradient(#e2e1e1, #fff);*/ border:solid 1px #e2e1e1; border-radius:2px;}

#product-category h2
{
font-size:24px; color:#fff; background-color:#7ac209; margin-top:0!important; border-radius:2px; padding:8px 16px;
}

.list-group a.active, .list-group a.active:hover, .list-group a:hover
{
color:#fff!important; background-color:#1470B1;
}

.list-group-item:first-child
{
border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-group-item:last-child
{
border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-primary {
	color: #ffffff;
	text-shadow: none!important;
	background-color: #1470B1!important;
	background-image: linear-gradient(to bottom, #1470B1, #1470B1);
	background-repeat: repeat-x;
	border:0px;
	padding:10px 15px;
	font-size:15px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1470B1;
	background-position: 0 0px;
}

.green-btn
{

}

button#list-view, button#grid-view{/*background-color:transparent!important;*/ border:0px; padding:0; background-image:none!important; margin-right:5px; box-shadow:none!important;}

.product-thumb .button-group{border:0!important; background-color:transparent!important; border:0!important;}

.product-thumb .button-group button, .product-thumb .button-group button:hover{
/*background-color: #1470B1;*/
}

.product-thumb .button-group button .fa{color:#1470B1 !important; height:26px; width:30px; padding:3px 3px 3px 2px; margin-top:5px; font-size:19px;border: none;}
.btn{font-size:14px;}

@media (max-width: 767px) {
#product-category{margin-top:20px;}
.below-header{ /*margin-top:255px;*/}
}

p{padding:0!important;}

footer h5{font-size:16px;}

.carousel-inner{background-color:#fff!important;}
.carousel-control.left, .carousel-control.right{background-image:none!important;}

.carousel-control{color:#1470B1!important;}

.process-img{margin: 0 auto; border:solid 1px #fff; padding:10px; width:58px; height:58px; border-radius:100%;}

.process-img img{width:100%;}

.round-box-shadow{
	background-color:rgb(255, 255, 255, 1); border-radius:5px 30px; border:solid 2px #fff; position:absolute; width:260px; height:280px; padding:5px 0; 
	box-shadow: 0px 0px 10px #000; z-index:300; right:80px; top:80px;
}

.round-box-shadow h2{font-size:22px; font-weight:700; /*border-bottom:dashed 2px #7ac209;*/ margin-bottom:30px; padding:25px 20px; margin:0px; }

.round-box-shadow h2:first-child{color:#7ac209!important;}

.round-box-shadow h2:nth-child(2){background-color:#e0dfdf;}

a:focus, a:hover{color:#1470B1!important;}

.rating .fa {border:0!important; padding:4px!important;}

footer .container:first-child row{background-color:rbg(122, 194, 9, 0.5)!important;}

h1, h2{font-size:22px;}

.prod_cart_quantity_td .input-group-btn>.btn .fa{height:10px; width:25px; font-size:16px!important; padding:0; border:0; border-radius:0;}

.fa{text-align:center;}

.prod_cart_quantity_td .prod_cart_quantity
{
	height:37px;
} 

/*.btn-primary, .btn-default {padding:9px 15px 8px!important;}*/

.btn-primary:hover{color:#fff!important;}

#accordion .fa{border:0px!important; padding:0px!important; height:30px!important;}

.new-lnk{width:100%; max-width:145px; float:left; margin-top:5px; text-align:center; text-decoration:none; color:#1470B1;padding-right:15px; text-transform:capitalize;}

.fix-pos{border:solid 2px red;}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{ margin-left:-14px!important;}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev{ margin-right:-14px!important;}

.carousel-control{color:#ffffff!important;}


/* carousel padding  removed lalu*/
/* .carousel-inner{padding:0 30px!important;} */


.round-box
	{
		border-radius:2px;
		background-color:#fff;
		box-shadow: 0px 0px 3px #303131;
		padding:30px;
		margin-bottom:15px;
	}
	
	.round-box-outer
	{
		border-radius:2px;
		background-color:#fff;
		box-shadow: 0px 0px 3px #303131;
		padding:20px;
		margin-bottom:15px;
		border:solid 5px #1470B1;
		float:left; width:100%;
	}
	
	.rating{border-top:solid 2px #1470B1; border-bottom:solid 2px #1470B1; padding:20px 0; margin:20px 0;}
	#product .half-width{width:48%; margin:0 2% 20px 0; float:left;}
	#product .half-width .btn{ margin-top:26px; padding:8px 10px!important;}
	#product-product{margin-top:10px;}
	
	.btn-primary{padding:4px 8px;}
	h2{font-weight:700;}
	
	.prod-name{color:#1470B1; font-size:22px; margin-bottom:15px; margin-top:0!important;}
	#content{min-height:1px!important;}
	
	.round-box
	{
		border-radius:2px;
		background-color:#fff;
		box-shadow: 0px 0px 3px #303131;
		padding:30px;
		margin-bottom:15px;
	}
	
	.round-box-outer
	{
		border-radius:2px;
		background-color:#fff;
		box-shadow: 0px 0px 3px #303131;
		padding:20px;
		margin-bottom:15px;
		border:solid 5px #1470B1;
	}
	
	.round-box-outer .alert{float:left;}
	
	.rating{border-top:solid 2px #1470B1; border-bottom:solid 2px #1470B1; padding:20px 0; margin:20px 0;}
	#product .half-width{width:80%; margin:0 2% 20px 0; float:left;}
	
	#product .half-width:last-child{width:auto;}
	
	#product-product{margin-top:10px;}
	
	.btn-primary{padding:8px 15px;}
	h2{font-weight:700;}
	
	.prod-name{color:#1470B1; font-size:22px; 15px; margin-top:0!important;}
	#content{min-height:1px!important;}
	
	
	.cart-fixed
	{
		    position: fixed;
   		 	right: 0;
    		left: 0;
    		z-index: 1030;
			background-color:#fff;
			top:0;
			box-shadow: 0px 0px 4px #787777;

	}
	header{ margin-top:20px;}
	.below-header{/*margin-top:130px;*/}
	#menu{/*margin-top:193px;*/ margin-top:0;}
	/* #top-links ul{margin:0;} */
	@media (max-width: 1220px) {
	#product .half-width{/*width:100%;*/ margin:0 2% 20px 0; float:left;}
	
	#product .half-width:last-child{width:100%;}
	}
	
	@media (max-width: 374px) {
		#top-links .fa{ font-size:18px; width:30px; height:30px; padding:6px 10px 8px 8px;}
		.list-inline > li{ padding:0 10px 0 0 !important;}
	}
	
	@media (max-width: 930px) {
		#top-links .fa{ font-size:18px; width:30px; height:30px; padding:6px 6px 8px 5px;}
		.list-inline > li{ padding:0 20px 0 0;}
	}
	@media (max-width: 767px) {
		#menu{margin-top:0;}
	.cart-fixed{position: inherit; box-shadow: 0px 0px 0px #787777;}
	.c{top:30px;}
	.cart-fixed-xs{	    position: fixed;
    padding: 14px 0px; 
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff;
    top: 0;
    box-shadow: 0px 0px 8px #787777;
	}
	}
	
	.search-mob{width:66.6%!important; float:left;}
	.search-mob-rght{width:33.3%!important; float:left;}
	
	@media (max-width: 767px) 
	{
		 #top-links{width:100%; margin:0px auto 5px; padding:15px 0px 0; border-top:solid 1px #ddd!important; }
		header{ margin-top:70px;}
		.cart-fixed{position:inherit;padding:75px 0px;}
		/*#menu{margin-top:271px;}*/
		.discount-section h3,  .customer-section h3,  .feature-section h3, .discount-section h3{ font-size:16px;}
		.new-lnk{padding-right:12px;}
	}
	@media (max-width: 720px) {
	.search-mob{width:60%!important; float:left;}
	.search-mob-rght{width:40%!important; float:left;}
	}
	
	@media (max-width: 510px) {
	.search-mob{width:100% !important; float:none;}
	.search-mob-rght{width:100%!important; float:none; text-align: center; }
	.search-mob-rght .btn-default {display: table; margin: 0 auto; float: none; margin-bottom: 5px; }
	.search-mob-rght .new-lnk {float: none;}
	}
	
	
	.my-sml-btn{padding:0 3px 1px!important;}
	
	.substitute{ border:solid 1px #ccc; border-radius:2px; padding:10px 10px 0 10px; margin-bottom:15px; float:left; width:98%;}
	
	.substitute h2{font-size:14px; margin-top:0;}
	
	.substitute img{max-width:100%;}
	/*
	@media (max-width:974px) {
	.substitute img{width:auto;}
	}
	*/
	.thumbnail{border-radius:2px;}
	
	
	.discount-section .swiper-viewport{width:85%!important;}
	
	.discount-section .shift-lft h2{font-size:14px;}
	
	.discount-section .swiper-viewport .swiper-button-prev{ left:-30px!important;}
	
	.discount-section .swiper-viewport .swiper-button-next{ right:-30px!important;}
	
	.discount-section .swiper-slide img{border:solid 0px #ccc; width:100%;}
	
	.rght-border{ border-right:dotted 2px #ccc;}
	
	@media (max-width: 950px) {
	.discount-section .swiper-slide img {width:80%; text-align:center;}
	}
	
	
	.round-box-shadow .glyphicon-download-alt{color:#7ac209; font-size:30px;}
	
	@media (max-width: 767px) {
	.rght-border{ border-bottom:dotted 2px #ccc; border-right:0; margin-bottom:30px; padding-bottom:20px;}
	}
	
	.go-down{/* width:33.33%!important; */ float:left;}
	
	@media (max-width: 767px) {
		.go-down{width:100%!important; float:left; margin-bottom:30px;}		

		.pad-rl {
			margin-bottom: 10px;
			padding: 30px 30px 40px;
			background-size: 50% !important;
		}
	}

	@media (max-width: 625px) {
		.swiper-pager {
			display: none;
		}

		#carousel0 .swiper-slide {
			width: 50% !important;
		}
	}

	@media (max-width: 620px) {
		.health-prod li {
			float: none;
			width: 100%;
		}

		.swiper-slide {
			/*width: 100% !important;*/
		}

		.discount-section .swiper-slide img {
			max-width: 100%;
			width: auto !important;
			height: auto;
		}

		.round-box-shadow {
			height: 145px;
		}

		.round-box-shadow h2 {
			font-size: 18px;
			padding: 10px 20px;
		}

		.round-box-shadow h2 img {
			height: 25px;
		}

		.fill {
			height: 232px;
		}
	}

	@media (max-width: 458px) {
		.health-desc {
			float: none;
			width: 100%;
			text-align: center;
		}

		.img-container {
			float: none;
			text-align: center;
		}

		.img-container {
			margin: 0 auto;
		}

		.health-desc a {
			display: block;
		}

		.health-prod li {
			margin-bottom: 35px;
		}

		.health-prod {
			margin: 0;
			padding: 0;
		}
	}
		
	.mfp-container{
		height: auto!important;
	}


.feature-custom-container .product-thumb .button-group button, .product-thumb .button-group button:hover {
    background-color: transparent!important;
}
.feature-custom-container .product-thumb .button-group button {
    /*width: auto!important;
     border: none; */
    display: inline-block;
    float: left;
    /* background-color: #eee; */
    /* color: #888; */
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #1470B1;
    margin-left: 3px;
}

.feature-custom-container .product-thumb .button-group button .fa {
    color: #1470B1!important;
    height: 35px;
    width: 24px;
    border-radius: 0;
    border: none;
}

.round-box-shadow{

    display:none;
}
}

.fa-times{padding: 1px 1px 1px !important;font-size: 16px !important;width: 20px !important;height: 20px !important;color: #fff !important;border: none !important;}
.prod_cart_quantity_td .input-group-btn>.btn .fa-times-circle{height: 34px;
    width: 40px;
    padding-top: 8px;
    margin: 0;
    background-color: #d9534f;}
.live-search ul li .product-add-cart{padding: 0px 8px !important;}
.live-search ul li .product-add-cart a{padding: 0px 4px !important;}
.live-search ul li .product-add-cart a .fa{border:none !important;}

.myCarousel:empty::after {
    content: ".";
    
    display:none;
}

.productnamehiden {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.carousel-indicators{display:none;}

	@media (max-width: 767px) {
	    .my-swiper-size{
	        max-width:250px!important;
	        width:100%!important;
	    }
	 
	}
	
	.my-articles-size{
	        max-width:520px!important;
	    }

/* NEW CSS */
/*footer .container:nth-child(1) {width:70%;}
footer .container:nth-child(2) {width:30%;}*/