{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</div>
  {% endif %}
  {% if warning %}
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="container">
        <header class="codrops-header">
          <h1>{{ text_my_wallet }}</h1>
          <div class="pull-right" data-toggle="modal" data-target="#bankDetails"><button class="btn btn-info more-data" title="" data-toggle="tooltip" data-original-title="{{ text_bank_details }}"><i class="fa fa-bank"></i></button></div>
          <br />
        </header>
        <div class="alert alert-warning" id="button_warn" style="display: none;"><i class="fa fa-exclamation-circle"></i> <span class="button_warn"></span> <button type="button" class="close close_warn">&times;</div>
        <div class="alert alert-success" id="button_success" style="display: none;"><i class="fa fa-check-circle"></i> <span class="button_success"></span> <button type="button" class="close close_success">&times;</div>
        <section class="content bgcolor-4">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div style="margin-top: 30px;border-right: 1px dotted #deeaee;">
              <b>{{ text_balance }}</b>
              <br>
              <strong>{{ balance }}</strong>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <span class="input input--madoka">
              <input class="input__field input__field--madoka" type="text" name="amount" id="input-amount"  runat="server" onkeypress="return validate(event)" autocomplete="off" />
              <label class="input__label input__label--madoka" for="input-amount">
                <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                  <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                </svg>
                <span class="input__label-content input__label-content--madoka">{{ text_add }}</span>
              </label>
            </span>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <button class="button button--wapasha button--text-thick button--text-upper button--size-s" id="pay-submit" >{{ text_add_wallet }}</button>
            <h6 data-toggle="modal" data-target="#walletTerms" style="color: #fff; cursor: pointer;">{{ text_terms }}</h6>
          </div>
        </section>
        <section>
          <div class="tabs tabs-style-circle">
            <nav>
              <ul>
                <li><a href="#section-circle-1" class="icon icon-plug"><span>{{ text_credit }}</span></a></li>
                <li id="debit-transfer"><a href="#section-circle-2" class="icon icon-plug"><span>{{ text_debit }}</span></a></li>
              </ul>
            </nav>
            <div class="content-wrap">
              <section id="section-circle-1">
                <table>
                  <thead>
                    <tr>
                      <th>{{ text_order_id }}</th>
                      <th>{{ text_amount_credited }}</th>
                      <th>{{ text_status }}</th>
                      <th>{{ text_date }}</th>
                      <th>{{ text_description }}</th>
                    </tr>
                  </thead>
                  <tbody id="credit-data">
                    {% for key, credit in credits %}
                      <tr row-count="{{ key }}">
                        <td>{{ credit.order_id }}</td>
                        <td>{{ credit.amount }}</td>
                        <td>{{ credit.status }}</td>
                        <td>{{ credit.date }}</td>
                        <td>{{ credit.desc }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot class="text-center">
                    <tr><td colspan="5" class="text-center"><i id="wkfoot1" class="fa fa-spin" style="font-size: large;"></i></td></tr>
                  </tfoot>
                </table>
                {% if total_credits > credit_count %}
                <button class="btn btn-info more-data" load-type="credit">{{ text_load_more }}</button>
                {% endif %}
              </section>
              <section id="section-circle-2">
                <table>
                  <thead>
                    <tr>
                      <th>{{ text_order_id }}</th>
                      <th>{{ text_amount_debited }}</th>
                      <th>{{ text_date }}</th>
                      <th>{{ text_description }}</th>
                    </tr>
                  </thead>
                  <tbody id="debit-data">
                    {% for key, debit in debits %}
                      <tr row-count="{{ key }}">
                        <td>{{ debit.order_id }}</td>
                        <td>{{ debit.amount }}</td>
                        <td>{{ debit.date }}</td>
                        <td>{{ debit.desc }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot class="text-center">
                    <tr><td colspan="4" class="text-center"><i id="wkfoot2" class="fa fa-spin" style="font-size: large;"></i></td></tr>
                  </tfoot>
                </table>
                {% if total_debits > debit_count %}
                <button class="btn btn-info more-data" load-type="debit">{{ text_load_more }}</button>
                {% endif %}
              </section>
            </div>
          </div>
        </section>
      </div>
      <!-- terms and conditions modal -->
      <div id="walletTerms" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{ text_terms }}</h4>
            </div>
            <div class="modal-body" style="color: #000;">
            {{ data_terms }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info more-data" data-dismiss="modal">{{ button_close }}</button>
            </div>
          </div>
        </div>
      </div>
      <div id="bankDetails" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{ text_bank_details }}</h4>
            </div>
            <div class="modal-body" style="color: #333;">
              <div class="container">
                <form class="form-horizontal" id="form-bank" action="{{ bank_action }}" method="post">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-bank-name">{{ entry_bank_name }}</label>
                    <div class="col-sm-9">
                      <input type="text" name="bank_name" value="{{ bank_name }}" placeholder="{{ entry_bank_name }}" id="input-bank-name" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-bank-branch-number">{{ entry_bank_branch_number }}</label>
                    <div class="col-sm-9">
                      <input type="text" name="bank_branch_number" value="{{ bank_branch_number }}" placeholder="{{ entry_bank_branch_number }}" id="input-bank-branch-number" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-bank-swift-code">{{ entry_bank_swift_code }}</label>
                    <div class="col-sm-9">
                      <input type="text" name="bank_swift_code" value="{{ bank_swift_code }}" placeholder="{{ entry_bank_swift_code }}" id="input-bank-swift-code" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-bank-account-name">{{ entry_bank_account_name }}</label>
                    <div class="col-sm-9">
                      <input type="text" name="bank_account_name" value="{{ bank_account_name }}" placeholder="{{ entry_bank_account_name }}" id="input-bank-account-name" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="input-bank-account-number">{{ entry_bank_account_number }}</label>
                    <div class="col-sm-9">
                      <input type="text" name="bank_account_number" value="{{ bank_account_number }}" placeholder="{{ entry_bank_account_number }}" id="input-bank-account-number" class="form-control" />
                    </div>
                  </div>
                </form>
                <button class="btn btn-info more-data" id="button-bank">{{ button_bank_details }}</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info more-data" data-dismiss="modal">{{ button_close }}</button>
            </div>
          </div>
        </div>
      </div>
      <style type="text/css">
        .bgcolor-4{
          height: 250px;
        }
        .more-data {
          border-color: #31bc86;
          background-image: linear-gradient(to bottom, #31bc86, #31bc86);
          border-radius: 0;
        }
      </style>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
      <script type="text/javascript">
        {% if debit_transfer is not defined %}
          $(document).ready(function() {
            $("#debit-transfer").trigger("click");
          });
        {% endif %}
        //Function to allow only numbers to textbox
        function validate(key) {
          //getting key code of pressed key
          var keycode = (key.which) ? key.which : key.keyCode;

          //comparing pressed keycodes
          if (!(keycode==8 || keycode==46 || keycode==116) && (keycode < 48 || keycode > 57)) {
            return false;
          } else {
            return true;
          }
        }

        $("#pay-submit").on( 'click', function() {
          if ($('#input-amount').val()) {
            $('#button_warn').hide();
            var amount = $('#input-amount').val();

            if ((amount < {{ min_amount }}) || (amount > {{ max_amount }})) {
              $('#button_warn').show();
              $(".button_warn").html('{{ limit_warning }}');
              return;
            };

            $.ajax({
              url: 'index.php?route=account/wk_wallet_system/addMoney',
              type: 'post',
              data: {amount: amount},
              dataType: 'json',
              beforeSend: function() {
                $('.alert').hide();
              },
              success: function(json) {
                if (json['success']) {
                  $('#button_warn').hide();
                  $('#button_success').show();
                  $('.button_success').html(json['success']);

                  // Need to set timeout otherwise it wont update the total
                  setTimeout(function () {
                    $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
                  }, 100);

                  $('html, body').animate({ scrollTop: 0 }, 'slow');
                  $('#cart > ul').load('index.php?route=common/cart/info ul li');
                }
                if (json['error']) {
                  $('#button_success').hide();
                  $('#button_warn').show();
                  $(".button_warn").html(json['error']);
                }
              }
            });
          } else {
            $('#button_warn').show();
            $(".button_warn").html('{{ text_amount }}');
          };
        });

        var noajax = 0;
        $('.more-data').on('click', function () {
          var thisthis = $(this);
          var load_type = thisthis.attr('load-type'), type = 0, start, total_data;
          if (load_type == 'credit') {
            type = 1;
            compare_start = start = $('#credit-data tr:last-child').attr('row-count');
            total_data = '{{ total_credits }}';
            if ((++compare_start) >= total_data) {
              type = 0;
              thisthis.remove();
            };
          } else if (load_type == 'debit') {
            type = 2;
            compare_start = start = $('#debit-data tr:last-child').attr('row-count');
            total_data = '{{ total_debits }}';
            if ((++compare_start) >= total_data) {
              type = 0;
              thisthis.remove();
            };
          };

          if (type != 0 && noajax == 0) {
            var foot_id = '#wkfoot' + type;
            $.ajax({
              url: 'index.php?route=account/wk_wallet_system/loadData',
              type: 'post',
              data: {type: type, start: start},
              dataType: 'json',
              beforeSend: function() {
                noajax = 1;
                $(foot_id).addClass('fa-spinner');
                thisthis.addClass('disabled');
              },
              success: function(json) {
                var content = '', rows = start;

                for (var i = 0; i < json['total']; i++) {
                  rows++;
                  content += '<tr row-count="' + rows + '">';
                  content += '<td>' + json["data"][i]["order_id"] + '</td>';
                  content += '<td>' + json["data"][i]["amount"] + '</td>';
                  if (type == 1) {
                    content += '<td>' + json["data"][i]["status"] + '</td>';
                  };
                  content += '<td>' + json["data"][i]["date"] + '</td>';
                  content += '<td>' + json["data"][i]["desc"] + '</td>';
                  content += '</tr>';
                };
                $('#' + load_type + '-data').append(content);
                $(foot_id).removeClass('fa-spinner');
                thisthis.removeClass('disabled');

                compare_row = rows;
                if (++compare_row >= total_data ) {
                  thisthis.remove();
                };
                noajax = 0;
              }
            });
          };
        });

        $('#button-bank').on('click', function () {
          $('#form-bank').submit();
        });

        $('.close_warn').on('click', function () {
          $('#button_warn').hide();
        });

        $('.close_success').on('click', function () {
          $('#button_success').hide();
        });

        (function() {
          [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
            new CBPFWTabs( el );
          });

        })();

        (function() {
          // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
          if (!String.prototype.trim) {
            (function() {
              // Make sure we trim BOM and NBSP
              var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
              String.prototype.trim = function() {
                return this.replace(rtrim, '');
              };
            })();
          }

          [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
            // in case the input is already filled..
            if( inputEl.value.trim() !== '' ) {
              classie.add( inputEl.parentNode, 'input--filled' );
            }

            // events:
            inputEl.addEventListener( 'focus', onInputFocus );
            inputEl.addEventListener( 'blur', onInputBlur );
          } );

          function onInputFocus( ev ) {
            classie.add( ev.target.parentNode, 'input--filled' );
          }

          function onInputBlur( ev ) {
            if( ev.target.value.trim() === '' ) {
              classie.remove( ev.target.parentNode, 'input--filled' );
            }
          }
        })();
      </script>
    {{ content_bottom }}</div>
  {{ column_right }}</div>
</div>
{{ footer }}
