{{ header }}
<div id="loader"><i class="fa fa-spinner fa-spin" style="font-size: 70px; margin-top: 20%;"></i></div>
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_add_payee_first }}<button type="button" class="close" data-dismiss="alert">&times;</div>
  {% if success %}
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if warning %}
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-12">
          <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addPayeeModal" id="add-new-payee"><i class="fa fa-plus"></i> {{ text_add_payee }}</button>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ text_payee_list }}</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center">
                    {{ text_payee_name }}
                  </th>
                  <th class="text-center">
                    {{ text_payee_email }}
                  </th>
                  <th class="text-center">
                    {{ text_payee_date_added }}
                  </th>
                  <th class="text-center">
                    {{ text_action }}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% if payee %}
                {% for payees in payee %}
                <tr>
                  <td class="text-center">{{ payees.payee_name }}</td>
                  <td class="text-center">{{ payees.payee_email }}</td>
                  <td class="text-center">{{ payees.date_added }}</td>
                  <td class="text-center" payee-id="{{ payees.payee_id }}">
                    <button class="btn btn-info transfer-payee" payee-email="{{ payees.payee_email }}" data-toggle="tooltip" title="" data-original-title="{{ text_transfer_money }}">{{ text_transfer }}</button>
                    <button class="btn btn-danger delete-payee" data-toggle="tooltip" title="" data-original-title="{{ text_delete }}"><i class="fa fa-trash-o"></i></button>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="5">{{ text_not_added_any_payee }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="addPayee" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">{{ text_add_payee }}</h3>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer" style="text-align: center;">
            </div>
          </div>
        </div>
      </div>
      <button data-toggle="modal" data-target="#addPayee" class="btn btn-primary" style="display: none;" id="buttonPayee"><i class="fa fa-plus"></i></button>
      <div id="transferPayee" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">{{ text_transfer_wallet_money }}</h3>
            </div>
            {% if transaction_status and transaction_error is defined %}
            <div class="modal-body">
              <div class="well form-horizontal">
                <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ transaction_error }}</div>
              </div>
            </div>
            {% else %}
            <div class="modal-body form-horizontal">
              <div class="well">
                <div class="main-section text-center">
                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="transfer-email"><b>{{ text_payee_name }}</b></label>
                    <div class="col-sm-8">
                      <label class="control-label" id="confirm-payee-name"></label>
                      <input type="hidden" name="receiver_email" id="transfer-email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="transfer-amount"><b>{{ text_amount }}</b></label>
                    <div class="col-sm-8">
                      <input type="text" name="payee_amount" class="form-control" value="" placeholder="Amount" id="transfer-amount" class="form-control" onkeypress="return validate(event)" />
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary" id="confirm-password">Transfer</button>
                </div>
                <div class="password-section text-center" style="display: none;">
                  <div class="form-group">
                    <label class="col-sm-4 control-label"><b>{{ text_amount }}</b></label>
                    <div class="col-sm-8">
                      <label class="control-label">100</label>
                      <span class="text-info" style="cursor: pointer;">(<u>Change Amount</u>)</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="payer-password"><b>{{ text_your_password }}</b></label>
                    <div class="col-sm-8">
                      <input type="password" name="password" class="form-control" value="" placeholder="Your Password" id="payer-password" class="form-control" autocomplete="off" />
                    </div>
                  </div>
                  <input type="submit" class="btn btn-primary" id="confirm-transfer" value="{{ button_confirm }}">
                </div>
              </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ button_close }}</button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    {{ content_bottom }}</div>
  {{ column_right }}</div>
  <div id="addPayeeModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">{{ text_add_payee }}</h3>
        </div>
        <div class="modal-body form-horizontal">
          <div id="add-payee-body">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="payee-email"><b>{{ text_payee_email }}</b></label>
              <div class="col-sm-9">
                <input type="email" class="form-control" placeholder="{{ text_payee_email }}" id="payee-email" class="form-control" />
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary text-center" id="add-payee">{{ button_add }}</button>
            </div>
          </div>
          <div id="confirm-payee-body">
            <input type="hidden" name="payee_name" id="payee_name" class="form-control customerName" value="">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>{{ text_payee_name }}</th>
                    <th>{{ text_payee_email }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="payee-name"></td>
                    <td id="payee-confirm-email"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-primary" id="confirm-payee" value="{{ button_confirm }}">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">{{ button_close }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  #content tr td {
    vertical-align: middle;
  }
  #loader {
    display: none;
    background: rgba(255, 255, 255, 0.38) none repeat scroll 0 0;
    height: 100%;
    padding: 2px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99999;
  }
</style>
<script type="text/javascript">
$('#add-new-payee').on('click', function () {
  $('#confirm-payee-body').slideUp();
  $('#add-payee-body').slideDown();
});
$('#add-payee').on('click', function() {
  var payee_email = $("#payee-email").val();
  var email_valid = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if (email_valid.test(payee_email)) {
    $.ajax({
      url: 'index.php?route=account/wk_wallet_system/confirmPayee',
      type: 'post',
      data: {payee_email: payee_email},
      dataType: 'json',
      beforeSend: function () {
        $('#loader').show();
      },
      success: function(json) {
        $("#addPayeeModal .modal-body .alert").remove();
        $('#loader').hide();
        if (json['success']) {
          $('#add-payee-body').slideUp();
          $('#payee_name').val(json['name']);
          $('#payee-name').text(json['name']);
          $('#payee-confirm-email').text(json['email']);
          $('#confirm-payee-body').slideDown();
        }
        if (json['error']) {
          $("#addPayeeModal .modal-body").prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</div>');
        }
        if (json['location']) {
          location = data['location'];
        }
      }
    });
  } else {
    $('#addPayeeModal .modal-body .alert').remove();
    $('#addPayeeModal .modal-body').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ text_email_not_valid }} <button type="button" class="close" data-dismiss="alert">&times;</div>');
  }
});

$('#confirm-payee').on('click', function() {
  var payee_email = $('#payee-email').val();
  $.ajax({
    url: 'index.php?route=account/wk_wallet_system/addPayee',
    type: 'post',
    data: {payee_email: payee_email},
    dataType: 'json',
    beforeSend: function () {
      $('#loader').show();
    },
    success: function(json) {
      if (json['success']) {
        $('.close').trigger('click');
        $('.breadcrumb').after('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i>' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</div>');
        location.reload();
      }
      if (json['error']) {
        $('#loader').hide();
        $('.close').trigger('click');
        $('.breadcrumb').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</div>');
      }
      if (json['location']) {
        location = json['location'];
      }
    }
  });
});

$('.transfer-payee').on('click', function() {
  var payee_name = $(this).parent().parent().children().first().text();
  var id = $(this).parent().attr('payee-id');
  var payee_email = $(this).attr('payee-email');
  $('#confirm-payee-name').text(payee_name);
  $('#transfer-email').val(payee_email);
  $('#transferPayee').modal('show');
  $('.password-section').slideUp();
  $('.main-section').slideDown();
});

$('.password-section .text-info').on('click', function () {
  $('.main-section').slideDown();
  $('.password-section').slideUp();
});

$('.delete-payee').on('click', function() {
  var name = $(this).parent().parent().children().first().text();
  var payee_id = $(this).parent().attr('payee-id');
  var confirm_delete = '{{ text_confirm_delete }}';
  var answer = confirm(confirm_delete.replace('%name%', name));
  if (answer) {
    $.ajax({
      url: 'index.php?route=account/wk_wallet_system/deletePayee',
      type: 'post',
      data: {payee_id: payee_id},
      dataType: 'json',
      beforeSend: function () {
        $('#loader').show();
      },
      success: function(data) {
        if(data['success']) {
          $('.breadcrumb').after('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i>' + data['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</div>');
          location.reload();
        }
        if(data['error']) {
          $('#loader').hide();
          $('.breadcrumb').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>' + data['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</div>');
        }
        if (data['location']) {
          location = data['location'];
        }
      }
    });
  }
});

$('#confirm-password').on('click', function() {
  var amount = $('#transfer-amount').val();
  $('.text-danger').remove();
  $('.has-error').removeClass('has-error');
  if (!amount || isNaN(amount)) {
    $('#transfer-amount').after('<span class="text-danger"><i class="fa fa-exclamation-circle"></i> {{ error_not_number }}</span>').parent().parent().addClass('has-error');
    return;
  } else if (amount > {{ balance }}) {
    $('#transfer-amount').after('<span class="text-danger"><i class="fa fa-exclamation-circle"></i> {{ text_insufficient_amount }}</span>').parent().parent().addClass('has-error');
    return;
  }
  {% if transaction_status %}
  if ((amount < {{ minimum_transaction_amount }}) || (amount > {{ maximum_transaction_amount }})) {
    $('#transfer-amount').after('<span class="text-danger"><i class="fa fa-exclamation-circle"></i> {{ error_amount_limit }}</span>').parent().parent().addClass('has-error');
  } else if (amount > {{ remaining_amount }}) {
    $('#transfer-amount').after('<span class="text-danger"><i class="fa fa-exclamation-circle"></i> {{ remaining_limit }}</span>').parent().parent().addClass('has-error');
  } else {
    $('.password-section .text-info').prev().html('<b>' + amount + '</b>');
    $('.main-section').slideUp();
    $('.password-section').slideDown();
  }
  {% else %}
  $('.password-section .text-info').prev().html('<b>' + amount + '</b>');
  $('.main-section').slideUp();
  $('.password-section').slideDown();
  {% endif %}
});
$('#confirm-transfer').on('click', function() {
  $('.alert-danger').remove();
  $('.text-danger').remove();
  $('.has-error').removeClass('has-error');
  var payee_amount = $('#transfer-amount').val();
  var receiver_email = $('#transfer-email').val();
  var password = $('#payer-password').val();
  if(password == '') {
    $('#payer-password').after('<span class="text-danger"><i class="fa fa-exclamation-circle"></i> {{ text_password_incorrect }}</span>').parent().parent().addClass('has-error');
  } else {
    $('#loader').show();
    $.ajax({
      url: 'index.php?route=account/wk_wallet_system/transferMoney',
      type: 'post',
      data: {receiver_email: receiver_email, payee_amount: payee_amount, password: password},
      dataType: 'json',
      success: function(data){
        $('#loader').hide();
        if (data['error']) {
          $('#transferPayee .well').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + data['error'] + '</div>');
        }
        if (data['redirect']) {
          $('.in').trigger('click');
          $('.breadcrumb').before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + data['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</div>');
          window.location = data['redirect'];
        }
      },
      complete: function () {
        $('#payer-password').val('');
      }
    });
  }
});

function validate(key) {
  //getting key code of pressed key
  var keycode = (key.which) ? key.which : key.keyCode;

  //comparing pressed keycodes
  if (!(keycode==8 || keycode==46 || keycode==116) && (keycode < 48 || keycode > 57)) {
    return false;
  } else {
    return true;
  }
}
</script>

{{ footer }}
