<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<base href="{{ base }}" />
	{% if description %}
	<meta name="description" content="{{ description }}" />
	{% endif %}
	{% if keywords %}
	<meta name="keywords" content="{{ keywords }}" />
	{% endif %}
	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
	<link href="catalog/view/theme/generikart/stylesheet/stylesheet.css" rel="stylesheet">
	<script src="catalog/view/javascript/bootbox/bootbox.min.js" type="text/javascript"></script>

	{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}
	{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}
	<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
	{% for link in links %}
	<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}
	{% for analytic in analytics %}
	{{ analytic }}
	{% endfor %}
	<link href="catalog/view/theme/generikart/stylesheet/custom-style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5KFPG5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="cart-fixed">
		<nav id="top" class="">
			<div class="container">
				<div class="col-xs-12 col-md-5 col-lg-4 logo-container">
					<div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{%
						else %}
						<h1><a href="{{ home }}">{{ name }}</a></h1>
						{% endif %}</div>
				</div>
				{{ currency }}
				{{ language }}
				<div id="top-links" class="nav pull-right">
					<ul class="list-inline">
						<li class="dropdown"><a href="{{ account }}" class="icoRss" title="{{ text_account }}" class="dropdown-toggle"
							 data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account
									}}</span> <span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								{% if logged %}
								<li><a href="{{ account }}" class="icoRss">{{ text_account }}</a></li>
								<li><a href="{{ order }}" class="icoRss">{{ text_order }}</a></li>
								<li><a href="{{ transaction }}" class="icoRss">{{ text_transaction }}</a></li>
								<li><a href="{{ download }}" class="icoRss">{{ text_download }}</a></li>
								<li><a href="{{ logout }}" class="icoRss">{{ text_logout }}</a></li>
								{% else %}
								<li><a href="{{ register }}" class="icoRss">{{ text_register }}</a></li>
								<li><a href="{{ login }}" class="icoRss">{{ text_login }}</a></li>
								{% endif %}
							</ul>
						</li>
						<!-- li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}" class="icoRss"><i class="fa fa-shopping-cart"></i>
								<span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li -->
						<li><a href="{{ contact }}" class="icoRss"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{
								telephone }}</span></li>
						<li><a href="{{ contact }}" class="icoRss"><i class="fa"><img src="{{theme_images}}/sugg-bx.png"/></i></a> <span class="hidden-xs hidden-sm hidden-md">{{
								telephone }}</span></li>
						<li>{{ cart }}</li>

						<li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>

        				<!--<li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li-->
					</ul>
				</div>
			</div>
		</nav>
	</div>

		<header>
			<div class="container">
				<div class="row">

					<div class="col-sm-6  col-md-8 col-lg-8 search-mob">{{ search }}</div>
					<div class="col-sm-6  col-md-4 col-lg-4 search-mob-rght "><button type="button" onclick="document.location.href='index.php?route=product/product&product_id=58'"
						 class="btn btn-default btn-lg upload-btn"><span>Upload Prescription</span></button>
						<a href="image/Rx.jpeg" target="_blank" class="new-lnk">What is valid prescription</a>
					</div>
				</div>
			</div>
		</header>

		<!--Start of Tawk.to Script-->
		<script type="text/javascript">
			var Tawk_API = Tawk_API || {},
				Tawk_LoadStart = new Date();
			(function () {
				var s1 = document.createElement("script"),
					s0 = document.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/5ba88e2dc9abba579677d407/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
		</script>
		<!--End of Tawk.to Script-->
		{{ menu }}