


<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <title>A simple search form</title>
</head>

<body>
<form action="/admin/index.php?route=catalog/product/search&user_token={{ user_token }}" method="post">
   <h3>Search the site</h3>
   <input type="text" name="txtSearchItem" value="{{name}}" />
   <input type="submit" name="submit" value="Search" />
   <input type="submit" name="submit" value="Export" />
</form>


<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product_id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for product in products %}



      <tr>
        <th scope="row">{{product.product_id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><a target="_blank" href="/admin/index.php?route=catalog/product/edit&user_token={{ user_token }}&product_id={{product.product_id}}" >Edit</a></td>

      </tr>

      {% endfor %}

    </tbody>
  </table>
</div>








</body>
</html>
