<div class="container my-customer-section customer-section ">
	<h3>
		Health Articles
	</h3>
	<div class="swiper-viewport">
	  <div id="carousel4567{{ module }}" class="swiper-container">
		<div class="swiper-wrapper">
		{% for news in all_news %}
		  <div class="swiper-slide text-center col-sm-3 col-md-3">
		  {% if news.news_id %}
			<a href="{{ news.view }}">
				<img src="{{ news.image }}" alt="{{ news.title }}" class="img-responsive" />
			</a>
			{% else %}
				<img src="{{ news.image }}" alt="{{ news.title }}" class="img-responsive" />
			{% endif %}
			<p class="cst-name">
				{{ news.title }}
			</p>
			<div class="cst-des">
				<p>
				{{ news.short_description }}
				</p>
				<span class="mor-cust">
					<input type="button" value="more" class="more" />
				</span>
			</div>
			</div>
		  {% endfor %}
		  
		  </div>
	  </div>
	  <div class="swiper-pagination carousel{{ module }}"></div>
	  <div class="swiper-pager">
		<div class="health-article swiper-button-next"></div>
		<div class="health-article swiper-button-prev"></div>
	  </div>
	</div>
</div>
<script type="text/javascript">
$('#carousel4567{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 5,
	pagination: '.carousel{{ module }}',
	paginationClickable: true,
	nextButton: '.health-article.swiper-button-next',
    prevButton: '.health-article.swiper-button-prev',
	autoplay: 2500,
	loop: true
});
</script>