<div class="row">
	<div class="container">
		<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
			<h2 class="green-head" style="margin-bottom:40px!important;">Upload Prescription</h2>
			<a href="#" style="text-align:center; display:block;">
			 <img src="{{theme_images}}/pay-icon.jpg" align="center" style="margin-left:auto; margin-right:auto;"/>
			</a>
			<p>Upload your Prescription</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
			<h2 class="green-head">Substitute</h2>
			
			<p>
			We will provide you the same medicine or substitute of the prescription as per your choice
			</p>
			<!--input type="button" value="Upload Prescription" class="grn-btn" align="center"  style="width:100%;"/-->
			
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
			<h2 class="green-head">Delivery</h2>
			<div class="prod-img">
			</div>
			<div class="prod-section">
			<p> We will deliver correct medicine safely</p>
		</div>
	</div>
  </div>
</div>


<div class="row">
<div class="feature-section">
<h3>Featured Generic Brand (<span style="color:#ff0000!important;">Discount up to 90%</span>)</h3>
<p class="half-width" style="margin:32px auto;">
   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
</p>
<div class="row">
<div class="container">
 {% for product in products %}
  <div class="product-layout col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p class="descrption">{{ product.description }}</p>
		<p class="algn-center">
         <input type="button" value="Learn More" class="brdr-btn" />
		</p>
      </div>
      <!--div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div-->
    </div>
  </div>
  {% endfor %}
  </div>
</div>
</div>


<div class="row">
<div class="discount-section">
  <h3>Nutritional Supplements</h3>

  <div class="row">
    <div class="container width-sml">
		 <div class="col-lg-2 col-md-2 col-sm-12  discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div><div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="discount-section" style="/*box-shadow:0px 0px 8px #787777; ">
  <h3>Health Devices</h3>

  <div class="row">
    <div class="container width-sml">
		 <div class="col-lg-2 col-md-2 col-sm-12  discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div><div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
    </div>
  </div>
</div>
</div>



<div class="row">
<div class="discount-section" >
  <h3>Popular Brands</h3>

  <div class="row">
    <div class="container width-sml">
		 <div class="col-lg-2 col-md-2 col-sm-12  discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div><div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
    </div>
  </div>
</div>
</div>



<div class="row">
<div class="discount-section" >
  <h3>Sexual Wellbeing</h3>

  <div class="row">
    <div class="container width-sml">
		 <div class="col-lg-2 col-md-2 col-sm-12  discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div><div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
    </div>
  </div>
</div>
</div>



<div class="row">
<div class="discount-section" >
  <h3>Multivitamins</h3>

  <div class="row">
    <div class="container width-sml">
		 <div class="col-lg-2 col-md-2 col-sm-12  discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div><div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
    </div>
  </div>
</div>
</div>



<div class="row">
<div class="discount-section" >
  <h3>General</h3>

  <div class="row">
    <div class="container width-sml">
		 <div class="col-lg-2 col-md-2 col-sm-12  discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
		 <div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div><div class="col-lg-2 col-md-2 col-sm-12 discount-prod">
			<div class="inner-dv">
				<img src="{{theme_images}}/p1.jpg" />
				<div class="shift-lft">
					<h2>Product Name</h2>
					<p>
						Lorem Ipsum is simply dummy
					</p>
					<p>
						MRP <span class="srtick-th">Rs. 82</span> <span class="gnr-color">5% OFF</span
					</p>
					<p class="price">Rs. 75</p>
				</div>
			</div>
		 </div>
    </div>
  </div>
</div>
</div>





<div class="row healthcare-sec">
  <div class="container ">
     <div class="col-lg-8 col-md-8 col-sm-12 shift-lft">
	     <h3 class="health-title">Health & care Articles</h3>
		 
		 <ul class="health-prod">
		    <li>
			   <span class="img-container"><img src="{{theme_images}}/health-careimg.jpg" /></span>
			   <span class="health-desc">
			    <h2>
				  Health Heading
				</h2>
				<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the 
				</p>
				<a href="#">Learn More</a>
				
			   </span>
			</li>
			 <li>
			   <span class="img-container"><img src="{{theme_images}}/health-careimg.jpg" /></span>
			   <span class="health-desc">
			    <h2>
				  Health Heading
				</h2>
				<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the 
				</p>
				<a href="#">Learn More</a>
				
			   </span>
			</li>
		 </ul>
		 
     </div>
	 <div class="pcol-lg-4 col-md-4 col-sm-12 ">
	     <h3 class="brand-titl">Big Brand We Sale</h3>
		 <div class="brd-container">
			<table width="100%">
			  <tr>
				<td align="center" vertical-align="middle" height="270px">
					<img src="{{theme_images}}/baidnaath.jpg" />
				</td>
			  </tr>
			  
			</table>
		 </div>
	 </div>
   </div>
</div>