<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
		<h2 class="green-head">Flexible payment method</h2>
		<img src="../image/pay-icon.jpg" align="center"/>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
		<h2 class="green-head">Upload prececription</h2>
		
		<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
		</p>
		<input type="button" value="Upload Prescription" class="grn-btn" align="center"  style="width:100%;"/>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
		<h2 class="green-head">Top rated products</h2>
		<div class="prod-img">
		</div>
		<div class="prod-section">
		 <h2 class="prod-name">Products Name</h2>
		 <div class="star"><span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> 
		 </div>
		 <p>Rs. 00.00</p>
	</div>
  </div>
</div>
<div class="row">
<div class="feature-section">
<h3>{{ heading_title }}
</h3>
<p class="half-width" style="margin:32px auto;">
   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
</p>
<div class="row">
<div class="container">
 {% for product in products %}
  <div class="product-layout col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p class="descrption">{{ product.description }}</p>
		<p class="algn-center">
         <input type="button" value="Learn More" class="brdr-btn" />
		</p>
      </div>
      <!--div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div-->
    </div>
  </div>
  {% endfor %}
  </div>
</div>
</div>

<div class="row">
  <div class="container">
     <div class="col-lg-8 col-md-8 col-sm-12">
	     <h3 class="health-title">Health & care Articles</h3>
		 
		 <ul class="health-prod">
		    <li>
			   <span class="img-container"><img src="url(../image/)" /></span>
			   <span class="health-desc">
			    <h2>
				  Health Heading
				</h2>
				<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the 
				</p>
				<a href="#">Learn More</a>
				
			   </span>
			</li>
			 <li>
			   <span class="img-container"><img src="url(../image/)" /></span>
			   <span class="health-desc">
			    <h2>
				  Health Heading
				</h2>
				<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the 
				</p>
				<a href="#">Learn More</a>
				
			   </span>
			</li>
		 </ul>
		 
     </div>
	 <div class="pcol-lg-4 col-md-4 col-sm-12">
	     2
	 </div>
   </div>
</div>