<style>
#logo img{display:none;}
</style>


<div class="row go-green ">
	<div class="container">
		<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
			<h2 class="green-head" style="">Upload Prescription</h2>
			<p class="p-height">Upload your Prescription<br/>(by Desktop/mobile App)</p>
			<a href="#" style="text-align:center; display:block;" class="process-img">
			 <img src="{{theme_images}}/upload-icon.png" align="center" style="margin-left:auto; margin-right:auto;"/>
			</a>

		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
			<h2 class="green-head">Medicine</h2>
			<p class="p-height">
			We will provide you the same medicine or substitute of the prescription as per your choice
			</p>
			<a href="#" style="text-align:center; display:block;" class="process-img">
			 <img src="{{theme_images}}/med-sub.png" align="center" style="margin-left:auto; margin-right:auto;"/>
			</a>

			<!--input type="button" value="Upload Prescription" class="grn-btn" align="center"  style="width:100%;"/-->

		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
			<h2 class="green-head">Delivery</h2>
			<p class="p-height"> We will deliver correct medicine safely</p>
			<a href="#" style="text-align:center; display:block;" class="process-img">
			 <img src="{{theme_images}}/med-delevery.png" align="center" style="margin-left:auto; margin-right:auto;"/>
			</a>
	</div>
  </div>
</div>


<div class="row">
<div class="feature-section">
<h3>Featured Generic Brand (<span style="color:#ff0000!important;">Discount up to 90%</span>)</h3>
<p class="half-width" style="margin:32px auto;">
   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
</p>
<div class="row">
<div class="container">
 {% for product in products %}
  <div class="product-layout col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p class="descrption">{{ product.description }}</p>
		<p class="algn-center">
         <input type="button" onclick="document.location.href='{{ product.href }}'" value="Learn More" class="brdr-btn" />
		</p>
      </div>
      <!--div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div-->
    </div>
  </div>
  {% endfor %}
  </div>
</div>
</div>



{% for cat in display_categories %}
<div class="row">
<div class="discount-section">
  <h3>{{cat.name}}</h3>
   	<div class="swiper-viewport">
	 <div id="carousel{{loop.index}}" class="swiper-container">
		<div class="swiper-wrapper">


  {% for prod in cat.products %}



		<div class="swiper-slide text-center">
   				<a href="{{prod.href}}" >
				<img src="{{prod.thumb}}" />
				<div class="shift-lft">
					<h2>{{prod.name}}</h2>
					<!--p>
						{{prod.description}}

					</p-->
					{% if prod.org_special > 0 %}
					<p>
						MRP <span class="srtick-th">{{prod.price}}</span> <span class="gnr-color">-{{prod.save_price}} </span>		</p>
					<p class="price">{{prod.special}} <i class="fa fa-shopping-cart"></i></p>
					{% else %}

					<p class="price">{{prod.price}} <i class="fa fa-shopping-cart"></i></p>
					{% endif %}
     </a>
				</div>
			</div>





  {% endfor %}
  </div>
	  </div>
	  <div class="swiper-pagination carousel{{loop.index}}"></div>
	  <div class="swiper-pager">
		<div class="swiper-button-next swiper-button-next{{loop.index}}"></div>
		<div class="swiper-button-prev swiper-button-prev{{loop.index}}"></div>
	  </div>
	</div>
</div>
</div>
<script type="text/javascript">
$('#carousel{{loop.index}}').swiper({
	mode: 'horizontal',
	slidesPerView: 4,
	pagination: '.carousel{{loop.index}}',
	paginationClickable: true,
	nextButton: '.swiper-button-next{{loop.index}}',
    prevButton: '.swiper-button-prev{{loop.index}}',
	autoplay: 250000,
	loop: false
});
</script>
{% endfor %}





<div class="row healthcare-sec">
  <div class="container ">
     <div class="col-lg-12 col-md-12 col-sm-12 shift-lft">
	     <h3 class="health-title">Health Articles</h3>

		 <ul class="health-prod">
		    <li>
			   <span class="img-container"><img src="{{theme_images}}/health-careimg.jpg" /></span>
			   <span class="health-desc">
			    <h2>
				  Health Heading
				</h2>
				<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
				</p>
				<a href="#">Learn More</a>

			   </span>
			</li>
			 <li>
			   <span class="img-container"><img src="{{theme_images}}/health-careimg.jpg" /></span>
			   <span class="health-desc">
			    <h2>
				  Health Heading
				</h2>
				<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
				</p>
				<a href="#">Learn More</a>

			   </span>
			</li>
			 <li>
			   <span class="img-container"><img src="{{theme_images}}/health-careimg.jpg" /></span>
			   <span class="health-desc">
			    <h2>
				  Health Heading
				</h2>
				<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
				</p>
				<a href="#">Learn More</a>

			   </span>
			</li>
			 <li>
			   <span class="img-container"><img src="{{theme_images}}/health-careimg.jpg" /></span>
			   <span class="health-desc">
			    <h2>
				  Health Heading
				</h2>
				<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
				</p>
				<a href="#">Learn More</a>

			   </span>
			</li>
		 </ul>

     </div>
	 <!--div class="pcol-lg-4 col-md-4 col-sm-12 ">
	     <h3 class="brand-titl">Big Brand We Sale</h3>
		 <div class="brd-container">
			<table width="100%">
			  <tr>
				<td align="center" vertical-align="middle" height="270px">
					<img src="{{theme_images}}/baidnaath.jpg" />
				</td>
			  </tr>

			</table>
		 </div>
	 </div-->
   </div>
</div>