<div class="go-green ">
	<div class="container">
		<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
			<h2 class="green-head" style="">Upload Prescription</h2>
			<p class="p-height">Upload your Prescription<br/>(by Desktop/mobile App)</p>
			<a href="#" style="text-align:center; display:block;" class="process-img">
			 <img src="{{theme_images}}/upload-icon.png" align="center" style="margin-left:auto; margin-right:auto;"/>
			</a>

		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
			<h2 class="green-head">Medicine</h2>
			<p class="p-height">
			We will provide you the same medicine or substitute of the prescription as per your choice
			</p>
			<a href="#" style="text-align:center; display:block;" class="process-img">
			 <img src="{{theme_images}}/med-sub.png" align="center" style="margin-left:auto; margin-right:auto;"/>
			</a>

			<!--input type="button" value="Upload Prescription" class="grn-btn" align="center"  style="width:100%;"/-->

		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 pad-rl">
			<h2 class="green-head">Delivery</h2>
			<p class="p-height"> We will deliver correct medicine safely</p>
			<a href="#" style="text-align:center; display:block;" class="process-img">
			 <img src="{{theme_images}}/med-delevery.png" align="center" style="margin-left:auto; margin-right:auto;"/>
			</a>
	</div>
  </div>
</div>


<!--<div class="">-->
<div class="feature-section">



{% for cat in display_categories %}
<div class="">
<div class="discount-section">
  <h3>{{cat.name}}</h3>
   	<div class="swiper-viewport">
	 <div cat_id="{{cat.category_id}}" id="carousel{{loop.index}}" class="swiper-container">
		<div class="swiper-wrapper">
  		{% for prod in cat.products %}
		<div class="swiper-slide product-layout col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="product-thumb transition text-center">
		
			<div class="image"><a href="{{ prod.href }}"><img src="{{ prod.thumb }}" alt="{{ prod.name }}" title="{{ prod.name }}" class="img-responsive" /></a></div>
   				
				<div class="caption">
					<h4><a href="{{prod.href}}" title="{{ prod.name }}">{{prod.name}}</a></h4>
					<!--p>
						{{prod.description}}
					</p-->
					
				<!--	{% if prod.org_special > 0 %}
					<p>
						MRP <span class="srtick-th">{{prod.price}}</span> <span class="gnr-color">{{prod.save_price}} </span></p>
					<p class="price">{{prod.special}}</p>
					{% else %}

					<p class="price">{{prod.price}}</p>
					{% endif %}---->
					
					
				{% if prod.price %}
				<p class="price text-center"> {% if not prod.special %}
				  {{ prod.price }}
				  {% else %} <span class="price-new">{{ prod.special }}</span> <span style="text-decoration: line-through;" class="price-old">{{ prod.price }}</span> {% endif %}
				  </p>
				  <!--<img src="{{ prod.thumb }}" /> <br/>-->
				  {% endif %}
				
				</div>
				<div class="button-group text-center">
					<button type="button" onclick="cart.add('{{ prod.product_id }}');" style="width:48%;"><i class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
					<button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ prod.product_id }}');" style="width:48%;"><i class="fa fa-heart"></i></button>
					<!--<button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ prod.product_id }}');"><i class="fa fa-exchange"></i></button>-->
				</div>
			</div>
		</div>

  {% endfor %}
  </div>
	  </div>
	  <div class="swiper-pagination carousel{{loop.index}}"></div>
	  <div class="swiper-pager">
		<div class="swiper-button-next swiper-button-next{{loop.index}}"></div>
		<div class="swiper-button-prev swiper-button-prev{{loop.index}}"></div>
	  </div>
	</div>
</div>
</div>
<script type="text/javascript">

var swiper{{loop.index}} =  $('#carousel{{loop.index}}').swiper({
	mode: 'horizontal',
	slidesPerView: 6,
	breakpointsInverse: true,
	  breakpoints: {
		// when window width is >= 320px
		320: {
		  slidesPerView: 1,
		  spaceBetween: 20
		},
		// when window width is >= 480px
		480: {
		  slidesPerView: 2,
		  spaceBetween: 30
		},
		// when window width is >= 640px
		640: {
		  slidesPerView: 2,
		  spaceBetween: 40
		}		
	  },
	pagination: '.carousel{{loop.index}}',
	paginationClickable: true,
	nextButton: '.swiper-button-next{{loop.index}}',
    prevButton: '.swiper-button-prev{{loop.index}}',
	autoplay: 2500,
	loop: false
});

swiper{{loop.index}}.on('reachEnd', function() {

var ele_id = $('#carousel{{loop.index}}').attr('id');
var cat_id = $('#carousel{{loop.index}}').attr('cat_id');
var total_items = $('#carousel{{loop.index}}').find(".swiper-slide").length;
console.log(ele_id)
console.log(cat_id)
console.log(total_items)
var data = {
		"start": total_items+1,
		"limit": 10,
		"cat_id": cat_id
}

$.ajax('index.php?route=product/product/get_category_products', {
    type: 'POST',  // http method
    data: data,  // data to submit
    success: function (data, status, xhr) {
			console.log('success', data);
			var products = [];
			$.each(data.list, function(i, item) {


				var product ='';
				/*product +='<div class="swiper-slide text-center" >';
				product +='<a href="'+item.href+'">';
				product +='<img src="'+item.thumb+'">';
				product +='</a><div class="shift-lft"><a href="'+item.href+'">';
				product +='<h2>'+item.name+'</h2>';
				product +='<p>';
				product +='MRP <span class="srtick-th">'+item.price+'</span> <span class="gnr-color">-'+item.save_price+' </span>		</p>';
				product +='<p class="price">'+item.special+' <i class="fa fa-shopping-cart"></i></p>';
				product +='</a>';
				product +='</div>';
				product +='</div>';*/


				product +='<div class="product-thumb transition text-center">';
				product +='<div class="image">';
				product +='<a href="'+item.href+'">';
				product +='<img src="'+item.thumb+'" alt="Neeri syrup" title="'+item.name+'" class="img-responsive" style="min-height:197px">';
				product +='</a>';
				product +='</div>';
				product +='<div class="caption">';
				product +='<h4><a href="'+item.href+'" title="'+item.name+'" class="productnamehiden">'+item.name+'</a></h4>';
				product +=(item.org_special === null)?'<p class="price text-center">'+item.price+'</p>':'MRP <span class="srtick-th">'+item.price+'</span><p class="price text-center">'+item.special+'</p>';		
				product +='</div>';
				product +='<div class="button-group text-center">';
				product +='<button type="button" onclick="cart.add(\''+item.product_id+'\');" style="width:48%;"><i class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>';
				product +='<button type="button" data-toggle="tooltip" title="" onclick="wishlist.add(\''+item.product_id+'\');" style="width:48%;" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></button>';		
				product +='</div>';
				product +='</div>';




				products.push(product);


			});
				swiper{{loop.index}}.appendSlide(
					products
				);


    },
    error: function (jqXhr, textStatus, errorMessage) {
            console.log('Error' + errorMessage);
    }
});
console.log(swiper{{loop.index}}, this)


	/* do something */
});
</script>
{% endfor %}
