  {% if product_id == 58 %}

{% include 'generikart/template/product/product_upload_prescription.twig' %}

{% else %}

<style>

.btn-vertical-slider{ margin-left:35px; cursor:pointer;}
a {  cursor:pointer;}
.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

 .carousel.vertical .active {
  top: 0;
}


 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

 .carousel.vertical .item {
    left: 0;
}

.qtyplus, .qtyminus
{
  width:25px; background-color:#000; border-radius:5px; height:32px; color:#fff; border:0px; padding:0px
  margin-left:5px;
}

.qtyminus{background-color:#e40515;}
.rx_image{ display:none; }
</style>


{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row"> 
			{% if column_left or column_right %}
			{% set class = 'col-sm-6' %}
			{% else %}
			{% set class = 'col-md-3 myCarousel' %}
			{% endif %}
			</div class="col-md-3">
		</div>
		
       <h2>Generics/Substitute</h2>
       
        <div id="myCarousel"  data-ride="carousel " class="{{ class }} go-down vertical-slider carousel vertical slide"> 
		{% if thumb or images %}
			
            <!-- Carousel items -->
            <div class="carousel-inner">
				<div class="item  active ">

				{% for product in products_related_category %}
				{% if (loop.index is divisible by(6) ) and not (loop.last) %}			
						
			</div>
			<div class="item ">

				{% endif %}

			<div id="colum8center" class="substitute">
		  <div class="col-xs-4 col-sm-12 col-md-4">
			<img src="{{ product.thumb }}" /> <br/>
			
			{% if product.price %}
			<p class="price"> {% if not product.special %}
			  {{ product.price }}
			  {% else %} <span class="price-new">{{ product.special }}</span> <span style="text-decoration: line-through;" class="price-old">{{ product.price }}</span> {% endif %}
			  </p>
			  <!--<img src="{{ product.thumb }}" /> <br/>-->
			  {% endif %}
		  </div>

		  <div class="col-xs-8 col-sm-12 col-md-8">
			<h2><a href="{{ product.href }}">{{ product.name }}</a></h2>
			<p>{{ product.manufacturer}}</p>
			
			<p><div class="row">
			  <div class="col-sm-6 col-xs-6 col-md-6"><button type="button" class="btn btn-primary btn-sm btn-block" onclick="cart.add('{{ product.product_id }}', '1');" style="width:auto!important;padding:6px 8px;">Add to Cart</button></div> <div class="col-sm-6 col-xs-4 col-md-6 text-right"><button type="button" data-toggle="tooltip" class="btn btn-default btn-xs" title="Add to Wish List" onclick="wishlist.add('{{ product.product_id }}');" style="padding:0px;"><i class="fa fa-heart" style="font-size:18px;width: 35px;height: 31px;"></i></button></div>
			  </div>
			</p>
		  </div>
		  
		</div>
	
		{% else %}
		  
		 <div id="column5center" class="col-sm-12 col-md-8">
		 Sorry! No Substitute available for this product.
		 </div>
		{% endfor %}
		
		{%if products_related_category %}
		<!-- div id="column5center8" class="col-sm-12 col-md-12">
			<button   onclick="window.location.href='index.php?route=product/search_related&product_id={{ product_id }}'" class="btn btn-primary btn-sm btn-block"> View All </button>
		</div -->
		{% endif %}
		
      </div>
 </div>
    {% endif %}
        </div>

<script>
$(document).ready(function () {
    /*$("#column5center8").toggle(function() {
        $("#colum8center").show();
		
    });*/
});

/*
window.onload = function myfunload(){

  document.getElementById('colum8center').style.display = 'block';
  document.getElementById('colum5center').style.display = 'none';
};
$('#column5center8').click(function() {
    $('.div-2').hide();
    $('.div-1').show();
});
else
if(document.getElementById("column5center8").style.visibility == "visible") {
    document.getElementById("colum5center").style.display = "none";
}*/
</script>
<!-- center div -->
        <div class="col-md-5 go-down" style="margin-top: 0px;">
          <h1>{{ heading_title }}  <span class="pull-right"><img src="image/green-medical-rx-icon-30.png" width="25" height="25" class="rx_image" /></span></h1>
			<ul class="thumbnails">
				{% if thumb %}
				<li><a class="" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
				{% endif %}
				{% if images %}
				{% for image in images %}
				<li class="image-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
				{% endfor %}
				{% endif %}
			</ul>
			<br />
			<hr>
			
				<!----manufacturers--model--reward--stock--->		
							<ul class="list-unstyled">
								{% if manufacturer %}
								<li>Manufacturer :<a href="{{ manufacturers }}">{{ manufacturer }}</a></li>
								{% endif %}
                            
								<li class="compositions"></li>
								<li class="how-to-use"></li>								
								{% if reward %}
								<li>{{ text_reward }} {{ reward }}</li>
								{% endif %}
								<!--<li>{{ text_stock }} {{ stock }}</li>-->
							</ul>
							
							<div><?php if ($coupon_product) { ?>
	    <?php echo $coupon; ?> 
	<?php } ?></div>

        </div>
<!-- end center div -->

<!-----last add to button part---->
        {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-4' %}
        {% endif %}
        <div class="{{ class }} go-down">
          {% if price %}
		<div class="round-box-outer">
          <ul class="list-unstyled round-box">
            {% if not special %}
            <li>
              <h2>{{ price }}</h2>
            </li>
            {% else %}
            <li><span style="text-decoration: line-through;">{{ price }}</span></li>
            <li>
              <h2>{{ special }}</h2>
            </li>
            {% endif %}
      
			<li class="packaging-of-product" ></li>
      
            {% if tax %}
            <!--li>{{ text_tax }} {{ tax }}</li-->
            {% endif %}
      
            {% if points %}
            <!--li>{{ text_points }} {{ points }}</li -->
            {% endif %}
      
            {% if discounts %}
            <li>
              <hr>
            </li>
            {% for discount in discounts %}
            <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
            {% endfor %}
            {% endif %}
          </ul>

          {% endif %}
          <div id="product"> 
		   {% if discounts_list %}
			  <div class="row">
			  <ul class="list-group">
			 {% for discount_detail in discounts_list %}
			 
                <li class="list-group-item">{{discount_detail.name}} by applying code <span class="label label-info">{{discount_detail.code}}</span></li>
                {% endfor %}
				</ul>
			</div>
			{% endif %}
			
			
		  {% if options %}
            <hr>
            <h3>{{ text_option }}</h3>
            {% for option in options %}
            {% if option.type == 'select' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for option_value in option.product_option_value %}
                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                {% if option_value.price %}
                ({{ option_value.price_prefix }}{{ option_value.price }})
                {% endif %} </option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            {% if option.type == 'radio' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="radio">
                  <label>
                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'checkbox' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'text' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
            </div>
            {% endif %}
            {% if option.type == 'textarea' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
            </div>
            {% endif %}
            {% if option.type == 'file' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
            </div>
            {% endif %}
            {% if option.type == 'date' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group date">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'datetime' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group datetime">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'time' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group time">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
			
			 
			
			
            {% if recurrings %}
            <hr>
            <h3>{{ text_payment_recurring }}</h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for recurring in recurrings %}
                <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                {% endfor %}
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            {% endif %}
			<div class="form-group">
			    <div class="row">
			            <div class="half-width-22 col-md-6 col-sm-6">
			            	 <!--- <label class="control-label" for="input-quantity" style="margin-right:5px; float:left;" >{{ entry_qty }}</label>-->
        				    <input type='button' value='-' class='qtyminus' field='quantity' style="float:left;font-size: 18px; margin-right:5px;color: #999;background: #fff;border-radius: 160px;border: 2px solid #999;width:33px;height::33px;" />
        				    <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" style="width:20%; float: left; margin-right:5px;text-align: center;border: none;padding:6px 1px;font-size: 18px;color: #999;" />
        				     <input type="hidden" name="product_id" value="{{ product_id }}"  />
        
        				     <input type='button' value='+' class='qtyplus' field='quantity' style="float:left;font-size: 18px;color: #999;background: #fff;border-radius: 160px;border: 2px solid #999;width:33px;height::33px;"  />
        				</div>
		        	<!----wishlist/compare end--->
    					  <div class="btn-group-22 col-md-6 col-sm-6">
    							<button type="button" data-toggle="tooltip" class="btn btn-default my-sml-btn" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart" style="width: 30px;height: 30;font-size: 18px;"></i></button>
    						<!--<button type="button" data-toggle="tooltip" class="btn btn-default my-sml-btn" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>-->
    					</div>
					<!----wishlist/compare end--->
			    </div>
			
					
					 <div class="half-width-1">
			
					<div style=""><button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block" style="margin-top:0;">{{ button_cart }}</button></div> 
					<!-- <div style="float: right;"><button style="padding: 0px !important;background-color: #76b51b;" type="button" data-toggle="tooltip" class="btn btn-default" title="<?php //echo $button_wishlist; ?>" onclick="wishlist.add('<?php //echo $product_id; ?>');"><i class="fa fa-heart"></i></button></div>-->
				
					</div>
					<div class="">
					
						<!----rating--->
						<!--	<div class="rating">
								<p>{% for i in 1..5 %}
								  {% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
								  {% endfor %} <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a> / <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ text_write }}</a></p>
								<hr>

								<div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
								<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>

							  </div>-->
					<!----rating end--->
					
					</div>
					<hr>
					
					{% if minimum > 1 %}
				<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
				{% endif %}
			</div>
          {% if review_status %}
      </div>

          {% endif %} </div>
      </div>
	  
<!-----Add to cart button end----->	  
      {% if products %}
      <h3>{{ text_related }}</h3>
      <div class="row"> {% set i = 0 %}
        {% for product in products %}
        {% if column_left and column_right %}
        {% set class = 'col-xs-8 col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-xs-6 col-md-4' %}
        {% else %}
        {% set class = 'col-xs-6 col-sm-3' %}
        {% endif %}
        <div class="{{ class }}">
          <div class="product-thumb transition">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div class="caption">
              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
              <p>{{ product.description }}</p>
              {% if product.rating %}
              <div class="rating"> {% for j in 1..5 %}
                {% if product.rating < j %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> {% endif %}
                {% endfor %} </div>
              {% endif %}
              {% if product.price %}
              <p class="price"> {% if not product.special %}
                {{ product.price }}
                {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
              {% endif %} </div>
            <div class="button-group">
              <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span> <i class="fa fa-shopping-cart"></i></button>
              <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
             <!-- <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>-->
            </div>
          </div>
        </div>
        {% if column_left and column_right and (i + 1) % 2 == 0 %}
        <div class="clearfix visible-md visible-sm"></div>
        {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
        <div class="clearfix visible-md"></div>
        {% elseif (i + 1) % 4 == 0 %}
        <div class="clearfix visible-md"></div>
        {% endif %}
        {% set i = i + 1 %}
        {% endfor %} </div>
        {% endif %}
            {{ content_bottom }}</div>
    {{ column_right }}
  </div>


<div class="container">
 <div class="row">

        <div class ='col-sm-12' style="margin-top:60px;">


            <!-- div class="tab-pane" id="tab-description">{{ description }}</div -->
            {% if attribute_groups %}
            <div class="tab-pane" id="tab-specification">
      <h2>Description</h2>
              <table class="table table-bordered">
                {% for attribute_group in attribute_groups %}
                <thead>
                  <tr>
                    <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                  </tr>
                </thead>
                <tbody>
                {% for attribute in attribute_group.attribute %}
 
                {% if attribute.name =='Use' %}
                <script>
                //alert("{{attribute.name}}")
                    $(".how-to-use").html("{{attribute.name}} - {{ attribute.text|replace({"\n":' ', "\r":' '}) }}");
                </script>
                
        
        
                {% elseif attribute.name =='Packaging of Product' %}
                <script>
                //alert("{{attribute.name}}")
                    $(".packaging-of-product").html("<b>{{attribute.name}}:</b>  {{ attribute.text|replace({"\n":' ', "\r":' '}) }}");
                </script>
               
        
        
        
                {% elseif attribute.attribute_id == '12' %}
        <style>
          .rx_image{ display: block; }
        </style>
        
                <script>
                //alert("{{attribute.name}}")
                    $(".compositions").html("{{attribute.name}} - {{ attribute.text|replace({"\n":' ', "\r":' '}) }}");
                </script>
                
        {% else  %}

                <tr>
                  <td>{{ attribute.name }}  </td>
                  <td>{{ attribute.text }}</td>
                </tr>
        {% endif %}
                {% endfor %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
            {% endif %}
            {% if review_status %}
            <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h2>{{ text_write }}</h2>
                {% if review_guest %}
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">{{ entry_name }}</label>
                    <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">{{ entry_review }}</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <!--div class="help-block">{{ text_note }}</div -->
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">{{ entry_rating }}</label>
                    &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;{{ entry_good }}</div>
                </div>
                {{ captcha }}
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                  </div>
                </div>
                {% else %}
                {{ text_login }}
                {% endif %}
              </form>
            </div>
            {% endif %}




 {% if tags %}
        <p>{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} </p>
        {% endif %}

            </div>
        </div>
    </div>

</div>


<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
  $.ajax({
    url: 'index.php?route=product/product/getRecurringDescription',
    type: 'post',
    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
    dataType: 'json',
    beforeSend: function() {
      $('#recurring-description').html('');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();

      if (json['success']) {
        $('#recurring-description').html(json['success']);
      }
    }
  });
});
//--></script>
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/cart/add',
    type: 'post',
    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
    dataType: 'json',
    beforeSend: function() {
      $('#button-cart').button('loading');
    },
    complete: function() {
      $('#button-cart').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      if (json['error']) {
		if (json['massage']) {
					alert(json['massage']);
		}
				
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            var element = $('#input-option' + i.replace('_', '-'));

            if (element.parent().hasClass('input-group')) {
              element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            } else {
              element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            }
          }
        }

        if (json['error']['recurring']) {
          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
        }

        // Highlight any found errors
        $('.text-danger').parent().addClass('has-error');
      }

      if (json['success']) {
        $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

        $('html, body').animate({ scrollTop: 0 }, 'slow');

        $('#cart > ul').load('index.php?route=common/cart/info ul li');
      }
    },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
  });
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
  language: '{{ datepicker }}',
  pickTime: false
});

$('.datetime').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input').val(json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
//--></script>
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
  $.ajax({
    url: 'index.php?route=product/product/write&product_id={{ product_id }}',
    type: 'post',
    dataType: 'json',
    data: $("#form-review").serialize(),
    beforeSend: function() {
      $('#button-review').button('loading');
    },
    complete: function() {
      $('#button-review').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible').remove();

      if (json['error']) {
        $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

        $('input[name=\'name\']').val('');
        $('textarea[name=\'text\']').val('');
        $('input[name=\'rating\']:checked').prop('checked', false);
      }
    }
  });
});



$(document).ready(function() {
  $('.thumbnails').magnificPopup({
    type:'image',
    delegate: 'a',
    gallery: {
      enabled: true
    }
  });
});
//--></script>
{{ footer }}

 {% endif %}



<script type="text/javascript"><!--


jQuery(document).ready(function(){
    // This button will increment the value
    $('.qtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $('input[name='+fieldName+']').val(currentVal + 1);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }a
    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});

$(document).ready(function () {

    $('.btn-vertical-slider').on('click', function () {

        if ($(this).attr('data-slide') == 'next') {
            $('#myCarousel').carousel('next');
        }
        if ($(this).attr('data-slide') == 'prev') {
            $('#myCarousel').carousel('prev')
        }

    });
	
	if($("li.compositions").text() == ''){
	//alert($("li.how-to-use").text());
		$("li.how-to-use").text($("li.how-to-use").text().replace('Use - ', 'Description - '));
	}
	//alert($("li.how-to-use").text());
	//alert($("li.compositions").text());
});

//--></script>