<style>
  .chaild_option,
  .num_of_days,
  .specified_medicine {
    margin-left: 10px;
  }
  .num_of_days > input[type="text"],
  .specified_medicine > textarea {
    width: 50%;
  }
  input:disabled {
    background: #dddddd;
  }

  .loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  .loader {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<style>
  #loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
  }

  #loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 100;
  }

  .hide {
    display: none;
  }
</style>

{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li>
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="row">

    <div id="content" class="col-xs-12 col-sm-12 col-md-12  ">{{ content_top }}
      <div class="row">

        <!-- center div -->
        <div class="col-sm-12">
          <!-- end center div -->

          {% if column_left or column_right %}
            {% set class = 'col-sm-12' %}
          {% else %}
            {% set class = 'col-sm-12' %}
          {% endif %}
          <div class="{{ class }}">

            <div id="product">
              <div class="col-sm-12">
                <h1>{{ heading_title }}</h1>
              </div>
              {% if options %}

                <div id="example-vertical">

                  <h3>Step 1</h3>
                  <section>

                    <div class="row">
                      <div class="col-md-12">
                        <input type="button" value="File Upload" style="margin-right:10px;" class="btn pull-left" onclick="$('#button-upload{{PRODUCT_DETAIL_OPTION.FILE_OPTION_ID}}').click();">

                        <input type="button" style="margin-right:10px;" value="Select Saved File" class=" btn pull-left Select_Saved_File">
						<input type="button" style="margin-right:10px;" value="Don't have prescription" class=" btn pull-left doctor_consultation_request">
                        <input type="button" value="Done" class=" btn pull-left done_select_saved_files">
                      </div>
                    </div>

                  </section>
                  <h3>Step 2</h3>
                  <section class="step-2">
                    <div class="form-group required ">
                      <label class="control-label">Step-2</label>
                      <div id="input-option_prescription">
                        <div class="radio cart_amount_0_group">
                          <label>
                            <input type="radio" name="prescription_option" value="{{ upload_prescription.step2_options.1.text}}">
                            {{ upload_prescription.step2_options.1.text}}
                          </label>
                        </div>
                        <div class="radio cart_amount_0_group">
                          <label>
                            <input type="radio" name="prescription_option" value="{{ upload_prescription.step2_options.2.text}}">
                            {{ upload_prescription.step2_options.2.text}}
                          </label>
                        </div>
                        <div class="radio cart_amount_0_group">
                          <label>
                            <input type="radio" name="prescription_option" value="{{ upload_prescription.step2_options.3.text}}">
                            {{ upload_prescription.step2_options.3.text}}
                          </label>
                        </div>
                        <div class="radio cart_amount_group">
                          <label>
                            <input type="radio" name="prescription_option" value="{{ upload_prescription.step2_options.4.text}}">
                            {{ upload_prescription.step2_options.4.text}}
                          </label>
                        </div>

                        <div class="radio common_group">
                          <label>
                            <input type="radio" name="prescription_option" value="{{ upload_prescription.step2_options.5.text}}">
                            {{ upload_prescription.step2_options.5.text}}
                          </label>
                        </div>
                      </div>
                    </div>

                    <input type="button" class="next" value="NEXT">
                  </section>

                  <h3>Step 3</h3>
                  <section class="step-3"></section>

                </div>

                <div style="display:none">
                  <hr>
                  <h3>{{ text_option }}</h3>
                  {% for option in options %}

                    {#% if option.type == 'select' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
							<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
								<option value="">{{ text_select }}</option>
								{% for option_value in option.product_option_value %}
								<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
								{% if option_value.price %}
								({{ option_value.price_prefix }}{{ option_value.price }})
								{% endif %} </option>
								{% endfor %}
							</select>
						</div>
						{% endif %}
						{% if option.type == 'radio' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label">{{ option.name }}</label>
							<div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
								<div class="radio">
									<label>
										<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
										{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
										{{ option_value.name }}
										{% if option_value.price %}
										({{ option_value.price_prefix }}{{ option_value.price }})
										{% endif %} </label>
								</div>
								{% endfor %} </div>
						</div>
						{% endif %}
						{% if option.type == 'checkbox' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label">{{ option.name }}</label>
							<div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
								<div class="checkbox">
									<label>
										<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
										{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
										{{ option_value.name }}
										{% if option_value.price %}
										({{ option_value.price_prefix }}{{ option_value.price }})
										{% endif %} </label>
								</div>
								{% endfor %} </div>
						</div>
						{% endif %}
						{% if option.type == 'text' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
							<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
						</div>
						{% endif %}
						{% if option.type == 'textarea' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
							<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
						</div>
						{% endif %#}

                    {% if option.type == 'file' %}
                      <div class="form-group{% if option.required %} required {% endif %}">
                        <label class="control-label">{{ option.name }}</label>
                        <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block">
                          <i class="fa fa-upload"></i>
                          {{ button_upload }}</button>
                        <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}"/>
                      </div>
                    {% endif %}
                    {#% if option.type == 'date' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
							<div class="input-group date">
								<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
								<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
								</span></div>
						</div>
						{% endif %}
						{% if option.type == 'datetime' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
							<div class="input-group datetime">
								<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
								<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
								</span></div>
						</div>
						{% endif %}
						{% if option.type == 'time' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
							<div class="input-group time">
								<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
								<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
								</span></div>
						</div>
						{% endif %#}
                  {% endfor %}
                </div>

              {% endif %}
              {% if recurrings %}
                <hr>
                <h3>{{ text_payment_recurring }}</h3>
                <div class="form-group required">
                  <select name="recurring_id" class="form-control">
                    <option value="">{{ text_select }}</option>
                    {% for recurring in recurrings %}
                      <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                    {% endfor %}
                  </select>
                  <div class="help-block" id="recurring-description"></div>
                </div>
              {% endif %}
              <div class="form-group">
                <div class="half-width" style="display:none">
                  <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                  <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control"/>
                  <input type="hidden" name="product_id" value="{{ product_id }}"/>
                </div>
                <div class="half-width" style="display:none">
                  <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>

                </div>
              </div>
              {% if minimum > 1 %}
                <div class="alert alert-info">
                  <i class="fa fa-info-circle"></i>
                  {{ text_minimum }}</div>
              {% endif %}
            </div>
            {% if review_status %}
            </div>

          {% endif %}
        </div>
      </div>
      {% if products %}
        <h3>{{ text_related }}</h3>
        <div class="row">
          {% set i = 0 %}
          {% for product in products %}
            {% if column_left and column_right %}
              {% set class = 'col-xs-8 col-sm-6' %}
            {% elseif column_left or column_right %}
              {% set class = 'col-xs-6 col-md-4' %}
            {% else %}
              {% set class = 'col-xs-6 col-sm-3' %}
            {% endif %}
            <div class="{{ class }}">
              <div class="product-thumb transition">
                <div class="image">
                  <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/></a>
                </div>
                <div class="caption">
                  <h4>
                    <a href="{{ product.href }}">{{ product.name }}</a>
                  </h4>
                  <p>{{ product.description }}</p>
                  {% if product.rating %}
                    <div class="rating">
                      {% for j in 1..5 %}
                        {% if product.rating < j %}
                          <span class="fa fa-stack">
                            <i class="fa fa-star-o fa-stack-1x"></i>
                          </span>
                        {% else %}
                          <span class="fa fa-stack">
                            <i class="fa fa-star fa-stack-1x"></i>
                            <i class="fa fa-star-o fa-stack-1x"></i>
                          </span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                  {% if product.price %}
                    <p class="price">
                      {% if not product.special %}
                        {{ product.price }}
                      {% else %}
                        <span class="price-new">{{ product.special }}</span>
                        <span class="price-old">{{ product.price }}</span>
                      {% endif %}
                      {% if product.tax %}
                        <span class="price-tax">{{ text_tax }}
                          {{ product.tax }}</span>
                      {% endif %}
                    </p>
                  {% endif %}
                </div>
                <div class="button-group">
                  <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
                    <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span>
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
                    <i class="fa fa-exchange"></i>
                  </button>
                </div>
              </div>
            </div>
            {% if column_left and column_right and(i + 1) % 2 == 0 %}
              <div class="clearfix visible-md visible-sm"></div>
            {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
              <div class="clearfix visible-md"></div>
            {% elseif (i + 1) % 4 == 0 %}
              <div class="clearfix visible-md"></div>
            {% endif %}
            {% set i = i + 1 %}
          {% endfor %}
        </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}

  </div>

</div>

<script type="text/javascript">
  <!--
  $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
    $.ajax({
      url: 'index.php?route=product/product/getRecurringDescription',
      type: 'post',
      data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
      dataType: 'json',
      beforeSend: function () {
        $('#recurring-description').html('');
      },
      success: function (json) {
        $('.alert-dismissible, .text-danger').remove();

        if (json['success']) {
          $('#recurring-description').html(json['success']);
        }
      }
    });
  });
  $(document).on("click", '#button-payment-address', function () {
    //$('').click(function(){
    //payment_address_save()
    $("#example-vertical").steps("finish");
  });

  //-->
</script>

<script type="text/javascript">
  <!--
  get_zones();
  get_payment_address();

  function get_zones() {
    $.ajax({
      url: 'index.php?route=checkout/checkout/country&country_id=99',
      dataType: 'json',
      success: function (json) {
        console.log("get_zones", json);
        var select_option = "";
        $.each(json.zone, function (i, item) {

          select_option += "<option value='" + item.zone_id + "' >" + item.name + " </option>";
        });
        $('select[name="zone_id"]').empty();
        $('select[name="zone_id"]').html(select_option);

      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

  function get_payment_address() {
    $.ajax({
      url: 'index.php?route=checkout/payment_address',
      dataType: 'html',
      success: function (html) {
        $('.step-3').html(html);
        //$('input[value="new"]').parent().parent().hide();
        get_zones();
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

  function get_address() {
    var address = '';
    if ($('input[name="payment_address"]:checked').val() == 'new') {
      if ($('input[name="address_1"]').val() == '') {
        //alert("Please enter adress");
        return false;
      } else {
        address = $('input[name="address_1"]').val();
      }
    } else {
      address = 'ring road gondia';
    }
    return address;
  }

  // Payment Address
  function payment_address_save() {
    var address = get_address()
    if (!address) {
      return get_address();
    }
    var data = new FormData();
    data.append('payment_address', $('input[name="payment_address"]:checked').val());
    data.append('address_id', $('select[name="address_id"]').val());
    data.append('firstname', "{{customer.first_name}}");
    data.append('lastname', "{{customer.last_name}}");
    data.append('company', '');
    data.append('address_1', address);
    data.append('address_2', '');
    data.append('city', $('input[name="city"]').val());
    data.append('postcode', $('input[name="postcode"]').val());
    data.append('country_id', $('select[name="country_id"]').val());
    data.append('zone_id', $('select[name="zone_id"]').val());

    /*var data= {
			payment_address:'existing',
			address_id:$('select[name="address_id"]').val(),
			firstname:'ravi katre',
			lastname:'KAtre',
			company:'',
			address_1:'ring road gondia',
			address_2:'',
			city:'gondia',
			postcode: 441601,
			country_id: 99,
			zone_id: 1493
			};*/

    $.ajax({
      url: 'index.php?route=checkout/payment_address/save',
      type: 'post',
      data: data,
      processData: false,
      contentType: false,
      dataType: 'json',
      beforeSend: function () {
        $('#button-payment-address').button('loading');
      },
      complete: function () {
        $('#button-payment-address').button('reset');
      },
      success: function (json) {
        $('.alert-dismissible, .text-danger').remove();
        $('.form-group').removeClass('has-error');
        console.log("payment_address_save", json);
        console.log('save payment adderss', json)

        if (json['error']) {
          var errors_msg = '';
          $.each(json['error'], function (i, item) {
            errors_msg += item + " \n ";
          });
          alert(errors_msg);
          return false;
        }
        $.ajax({
          url: 'index.php?route=checkout/payment_address',
          dataType: 'html',
          success: function (html) {
            $('.step-3').html(html);
            $('.form-horizontal').hide();
            $('.form-horizontal').after('<div class="loader"></div>');

            shipping_address_save();
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });

      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

  // Shipping Address
  function shipping_address_save() {
    var address = get_address()
    if (!address) {
      return get_address();
    }

    var data = {
      shipping_address: $('input[name="payment_address"]:checked').val(),
      address_id: $('select[name="address_id"]').val(),
      firstname: "{{customer.first_name}}",
      lastname: '{{customer.last_name}}',
      company: '',
      address_1: address,
      address_2: '',
      city: $('input[name="city"]').val(),
      postcode: $('input[name="postcode"]').val(),
      country_id: $('select[name="country_id"]').val(),
      zone_id: $('select[name="zone_id"]').val()
    };

    $.ajax({
      url: 'index.php?route=checkout/shipping_address/save',
      type: 'post',
      data: data,
      dataType: 'json',
      beforeSend: function () {
        $('#button-payment-address').button('loading');
      },
      complete: function () {
        $('#button-payment-address').button('reset');
      },
      success: function (json) {
        $('.alert-dismissible, .text-danger').remove();
        $('.form-group').removeClass('has-error');
        console.log("shipping_address_save", json);

        $.ajax({
          url: 'index.php?route=checkout/shipping_method',
          dataType: 'html',
          success: function (html) {
            console.log("get_shipping_method", json);
            $("#ajax_data_debugger").html(html);
            shipping_method_save();
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });

      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

  // shipping method
  function shipping_method_save() {

    var data = {
      "shipping_method": $("input[name='shipping_method']").val(),
      "comment": ""
    };

    $.ajax({
      url: 'index.php?route=checkout/shipping_method/save',
      type: 'post',
      data: data,
      dataType: 'json',
      beforeSend: function () {
        $('#button-payment-address').button('loading');
      },
      complete: function () {
        $('#button-payment-address').button('reset');
      },
      success: function (json) {
        $('.alert-dismissible, .text-danger').remove();
        $('.form-group').removeClass('has-error');
        console.log("shipping_method_save", json);

        $.ajax({
          url: 'index.php?route=checkout/payment_method',
          dataType: 'html',
          success: function (html) {
            console.log("get_shipping_method", json);
            payment_method_save();
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });

      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

  // payment_method
  function payment_method_save() {

    var data = {
      payment_method: 'cod',
      comment: '',
      agree: 1
    };

    $.ajax({
      url: 'index.php?route=checkout/payment_method/save',
      type: 'post',
      data: data,
      dataType: 'json',
      beforeSend: function () {
        $('#button-payment-address').button('loading');
      },
      complete: function () {
        $('#button-payment-address').button('reset');
      },
      success: function (json) {
        $('.alert-dismissible, .text-danger').remove();
        $('.form-group').removeClass('has-error');
        console.log("payment_method_save", json);

        //http://generikart.localhost/index.php?route=checkout/checkout

        //window.location.href = "index.php?route=extension/payment/cod/confirm";

        $.ajax({
          url: 'index.php?route=checkout/confirm',
          dataType: 'html',
          beforeSend: function () {
            $('#button-confirm').button('loading');
          },
          complete: function () {
            $('#button-confirm').button('reset');
          },
          success: function (json) {
            $.ajax({
              url: 'index.php?route=extension/payment/cod/confirm',
              dataType: 'json',
              beforeSend: function () {
                $('#button-confirm').button('loading');
              },
              complete: function () {
                $('#button-confirm').button('reset');
              },
              success: function (json) {
                if (json['redirect']) {
                  location = json['redirect'];
                }
              },
              error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
              }
            });
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });

      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

  //-->
</script>

<script type="text/javascript">
  <!--
  $(document).on("click", 'input[value="new"]', function () {
    $('#payment-new').find('input, select').not('input[name="address_1"], input[name="city"], input[name="postcode"],  select[name="zone_id"]').closest('.form-group').hide();

  });

  $('#button-cart').on('click', function () {
    $.ajax({
      url: 'index.php?route=checkout/cart/add',
      type: 'post',
      data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
      dataType: 'json',
      beforeSend: function () {
        $('#button-cart').button('loading');
      },
      complete: function () {
        $('#button-cart').button('reset');
      },
      success: function (json) {
        $('.alert-dismissible, .text-danger').remove();
        $('.form-group').removeClass('has-error');

        if (json['error']) {
          var alert_errors = '';
          if (json['error']['option']) {
            for (i in json['error']['option']) {
              var element = $('#input-option' + i.replace('_', '-'));

              if (element.parent().hasClass('input-group')) {
                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              } else {
                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              }
              alert_errors += json['error']['option'][i] + " \n ";
            }
          }

          if (json['error']['recurring']) {
            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
          }

          // Highlight any found errors
          $('.text-danger').parent().addClass('has-error');
          alert(alert_errors);
        }

        if (json['success']) {

          {% if order_sub_total > 0 %}
            window.location.href = "index.php?route=checkout/checkout";
            //setTimeout(function () {}, 3000);
            return true;

          {% else %}
            payment_address_save();
          {% endif %}

          //window.location.href = "index.php?route=checkout/cart";

          //$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

          //$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

          //$('html, body').animate({ scrollTop: 0 }, 'slow');

          //$('#cart > ul').load('index.php?route=common/cart/info ul li');
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });

  //-->
</script>
<script type="text/javascript">
  <!--
  $('.date').datetimepicker({language: '{{ datepicker }}', pickTime: false});

  $('.datetime').datetimepicker({language: '{{ datepicker }}', pickDate: true, pickTime: true});

  $('.time').datetimepicker({language: '{{ datepicker }}', pickDate: false});
  //$(document).on("click",'button[id^=\'button-upload\']',function() {
  $('button[id^=\'button-upload\']').on('click', function () {
    //alert('ssss');
    var node = this;

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name=\'file\']').trigger('click');

    if (typeof timer != 'undefined') {
      clearInterval(timer);
    }

    timer = setInterval(function () {
      if ($('#form-upload input[name=\'file\']').val() != '') {
        clearInterval(timer);

        $.ajax({
          url: 'index.php?route=tool/upload',
          type: 'post',
          dataType: 'json',
          data: new FormData($('#form-upload')[0]),
          cache: false,
          contentType: false,
          processData: false,
          beforeSend: function () {

            $("#loading").removeClass('hide');
          },
          complete: function () {
            $("#loading").addClass('hide');
          },
          success: function (json) {
            $('.text-danger').remove();

            if (json['error']) {
              $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
            }

            if (json['success']) {

                bootbox.confirm({
                    message: "Do you want to upload another prescription",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        console.log('This was logged in the callback: ' + result);

                        if(result){
                            add_prescription(json, node, true);
                        }else{
                            add_prescription(json, node, false);
                        }
                    }
                  });

              //alert(json['success']);

            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });
      }
    }, 500);
  });

  function add_prescription(json, node, reupload=false) {

    var data = new FormData();
    data.append('code', json['code']);
    data.append('customer_id', {{customer.id}});

    $.ajax({
      url: 'index.php?route=product/product/add_prescription',
      type: 'post',
      dataType: 'json',
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      beforeSend: function () {},
      complete: function () {},
      success: function (json) {
        $(node).parent().find('input').val(json['code']);
        codes_array = [];
        codes_array.push(json['code']);
        //$('.Select_Saved_File').trigger('click');
        $("#example-vertical").steps("next");
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
    console.log('add_prescription', json);
  }

  //-->
</script>
<script type="text/javascript">
  <!--
  $('#review').delegate('.pagination a', 'click', function (e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
  });

  $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

  $('#button-review').on('click', function () {
    $.ajax({
      url: 'index.php?route=product/product/write&product_id={{ product_id }}',
      type: 'post',
      dataType: 'json',
      data: $("#form-review").serialize(),
      beforeSend: function () {
        $('#button-review').button('loading');
      },
      complete: function () {
        $('#button-review').button('reset');
      },
      success: function (json) {
        $('.alert-dismissible').remove();

        if (json['error']) {
          $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
        }

        if (json['success']) {
          $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

          $('input[name=\'name\']').val('');
          $('textarea[name=\'text\']').val('');
          $('input[name=\'rating\']:checked').prop('checked', false);
        }
      }
    });
  });

  var codes_array = [];
  $(document).on("change", 'input[name=\'images_prescription\']', function () {

    //var codes =  $("[name='option[{{ PRODUCT_DETAIL_OPTION.FILE_OPTION_ID }}]']").val();
    var skipper = this;
    if (this.checked) {

      //$(":checkbox").not(skipper).prop("checked", false);
      //codes_array = [];
      codes_array.push($(this).attr('code'));
      var codes = codes_array.join(",");
      $("[name='option[{{ PRODUCT_DETAIL_OPTION.FILE_OPTION_ID }}]']").val(codes);
      $("#example-vertical").steps("next");

    } else {

      codes_array.remove($(this).attr('code'));
      var codes = codes_array.join(",");
      $("[name='option[{{ PRODUCT_DETAIL_OPTION.FILE_OPTION_ID }}]']").val(codes)
    }
    //$("#example-vertical").steps("next");
    //alert($("[name='option[{{ PRODUCT_DETAIL_OPTION.FILE_OPTION_ID }}]']").val());
  });

  $(document).on("click", '.next', function () {
    $("#example-vertical").steps("next");
    //get_payment_address();
  });

  $(document).on("click", '.done_select_saved_files', function (e) {
    e.preventDefault();
    //$(this).parent().find('input[type="radio"]').click();

    if ($('[name="images_prescription"]:checked').length > 0) {
      $("#example-vertical").steps("next");
    } else {
      alert('Please select at least one prescription');
    }

  })

  $(document).on("click", '.Select_Saved_File', function () {
    var node = this;
    $.ajax({
      url: 'index.php?route=product/product/get_saved_files',
      type: 'GET',
      dataType: 'json',
      data: [],
      cache: false,
      contentType: false,
      processData: false,
      beforeSend: function () {},
      complete: function () {},
      success: function (json) {
        console.log("File_list", json);
        $(".images_prescription").remove();
        var images = '<div class="row" style="clear:both;" >&nbsp;</div><div class="row images_prescription">';

        $.each(json.list, function (i, item) {
          //alert(item.image);
          images += '<div class="col-xs-6 col-md-3">';
          images += '<div class="input-group">';
          images += '<span class="input-group-addon">';
          images += '<input type="checkbox" name="images_prescription" code="' + item.code + '">';
          images += '</span>';
          images += '<input type="text" class="form-control" value="' + (
          i + 1) + '. Prescription' + '" disabled>';
          images += '</div>';
          images += '<a href="javascript:void(0)" class="thumbnail prescription-iamge ">';
          //images +='<img src="/pix/samples/2s.jpg" alt="Views near Rob Roy Glacier">';
          images += "<img src='" + item.image + "' code='" + item.code + "'>";
          images += '</a>';

          //images +="<div>"+(i+1)+". ";
          //images += "<img src='"+item.image+"' code='"+item.code+"'>";
          //images += "</div>";
          images += '</div>';
        });

        $(node).parent().after(images);
        var i;

        for (i = 0; i < codes_array.length; ++i) {
          $("input[code='" + codes_array[i] + "']").prop("checked", true);
        }

      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });

  $(document).on("click", 'section.step-2 input[name="specify_medicine_option"]', function () {

    $("section.step-2").find(".specified_medicine").remove();
    var specified_medicine_html = "<div class='specified_medicine'>";
    specified_medicine_html += "<textarea  name='option[{{ PRODUCT_DETAIL_OPTION.PRISCRIPTION_DETAILS_OPTION_ID }}]' placeholder='Name, qty' ></textarea>";
    specified_medicine_html += "</div>";
    $(this).parent().parent().append(specified_medicine_html);
  });
  $(document).on("click", 'section.step-2 input[name="prescription_option"]', function () {

    $("section.step-2").find(".num_of_days").remove();
    $("section.step-2").find(".chaild_option").remove();

    //alert(this.value);
    switch (this.value) {
      case "{{ upload_prescription.step2_options.1.text}}":
      case "{{ upload_prescription.step2_options.2.text}}":
        var num_of_days_html = "<div class='num_of_days'>";
        num_of_days_html += "<input type='text' name='option[{{ PRODUCT_DETAIL_OPTION.NUMBER_OF_MEDITIONS_OPTION_ID }}]' placeholder='Number of Days' > ";
        num_of_days_html += "</div>";
        $(this).parent().parent().append(num_of_days_html);
        break;

      case "{{ upload_prescription.step2_options.3.text}}":
        var chaild_option_html = "<div class='chaild_option'>";
        chaild_option_html += '<div class="radio">';
        chaild_option_html += '<label>';
        chaild_option_html += '<input type="radio" name="specify_medicine_option" value="{{ upload_prescription.step2_options.3.sub_values.0}}">';
        chaild_option_html += '{{ upload_prescription.step2_options.3.sub_values.0}}';
        chaild_option_html += '</label>';
        chaild_option_html += '</div>';

        chaild_option_html += '<div class="radio">';
        chaild_option_html += '<label>';
        chaild_option_html += '<input type="radio" name="specify_medicine_option" value="{{ upload_prescription.step2_options.3.sub_values.1}}">';
        chaild_option_html += '{{ upload_prescription.step2_options.3.sub_values.1}}';
        chaild_option_html += '</label>';
        chaild_option_html += '</div>';
        chaild_option_html += '</div>';

        $(this).parent().parent().append(chaild_option_html);
        break;

      case "{{ upload_prescription.step2_options.4.text}}":
        var chaild_option_html = "<div class='chaild_option'>";
        chaild_option_html += '<div class="radio">';
        chaild_option_html += '<label>';
        chaild_option_html += '<input type="radio" name="specify_medicine_option" value="{{ upload_prescription.step2_options.4.sub_values.0}}">';
        chaild_option_html += '{{ upload_prescription.step2_options.4.sub_values.0}}';
        chaild_option_html += '</label>';
        chaild_option_html += '</div>';

        chaild_option_html += '<div class="radio">';
        chaild_option_html += '<label>';
        chaild_option_html += '<input type="radio" name="specify_medicine_option" value="{{ upload_prescription.step2_options.4.sub_values.1}}">';
        chaild_option_html += '{{ upload_prescription.step2_options.4.sub_values.1}}';
        chaild_option_html += '</label>';
        chaild_option_html += '</div>';
        chaild_option_html += '</div>';

        $(this).parent().parent().append(chaild_option_html);
        break;

      case "{{ upload_prescription.step2_options.5.text}}":
        var num_of_days_html = "<div class='num_of_days'>";
        num_of_days_html += "<input type='text' name='option[{{ PRODUCT_DETAIL_OPTION.NUMBER_OF_MEDITIONS_OPTION_ID }}]' placeholder='Phone Number' > ";
        num_of_days_html += "</div>";
        $(this).parent().parent().append(num_of_days_html);
      default:
        //alert($.trim($(this).parent().text()));
        break;
    }

  });

  $(document).ready(function () {

    /*$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});*/

    var stepsWizard = $("#example-vertical").steps({
      headerTag: "h3", bodyTag: "section", transitionEffect: "slideLeft", stepsOrientation: "vertical",

      /* Templates */
      titleTemplate: '<span class="number">#index#.</span> #title#',
      loadingTemplate: '<span class="spinner"></span> #text#',

      /* Behaviour */
      autoFocus: true,
      enableAllSteps: false,
      enableKeyNavigation: true,
      enablePagination: false,
      suppressPaginationOnFocus: true,
      enableContentCache: false,
      enableCancelButton: false,
      enableFinishButton: true,
      preloadContent: false,
      showFinishButtonAlways: false,
      forceMoveForward: false,
      saveState: false,
      startIndex: 0,

      /* Transition Effects */
      transitionEffect: $.fn.steps.transitionEffect.none,
      transitionEffectSpeed: 200,

      /* Events */
      onStepChanging: function (event, currentIndex, newIndex) {
        switch (currentIndex) {
          case 0:
            //alert($("input[name='option[{{ PRODUCT_DETAIL_OPTION.FILE_OPTION_ID }}]'").val());
            if ($("input[name='option[{{ PRODUCT_DETAIL_OPTION.FILE_OPTION_ID }}]'").val() == '') {
              alert("Please upload file");
              return false;
            }

            break;
          case 1:

            break;
        }

        return true;
      },
      onStepChanged: function (event, currentIndex, priorIndex) {
        switch (currentIndex) {
          case 0:

            break;
          case 1:

            break;
          case 2:
            {% if order_sub_total > 0 %}
              $('#button-cart').click();

            {% endif %}
            break;
        }
      },
      onCanceled: function (event) {},
      onFinishing: function (event, currentIndex) {
        return true;
      },
      onFinished: function (event, currentIndex) {
        var selected_val = $("input[name='prescription_option']:checked").val();
        //alert(selected_val);
        var selection_input_val = "<input type='hidden' class='selection_input_val'  name='option[{{ PRODUCT_DETAIL_OPTION.SELECTED_OPTION_ID }}]'>";
        $("input[name='prescription_option']:checked").after(selection_input_val);
        switch (selected_val) {
          case "{{ upload_prescription.step2_options.1.text}}":
          case "{{ upload_prescription.step2_options.2.text}}":
            //$("input[name='option[{{ PRODUCT_DETAIL_OPTION.NUMBER_OF_MEDITIONS_OPTION_ID }}]'").val(selected_val);
            break;
          case "{{ upload_prescription.step2_options.3.text}}":
          case "{{ upload_prescription.step2_options.4.text}}":

            var sub_selected_val = $("input[name='specify_medicine_option']:checked").val();
            //alert(sub_selected_val);
            switch (sub_selected_val) {
              case "{{ upload_prescription.step2_options.3.sub_values.0}}":
              case "{{ upload_prescription.step2_options.3.sub_values.1}}":
              case "{{ upload_prescription.step2_options.4.sub_values.0}}":
              case "{{ upload_prescription.step2_options.4.sub_values.1}}":

                selected_val = sub_selected_val;
                //alert(sub_selected_val);
                //$("textarea[name='option[{{ PRODUCT_DETAIL_OPTION.SELECTED_OPTION_ID }}]'").val(selected_val)
                //alert($("textarea[name='option[{{ PRODUCT_DETAIL_OPTION.SELECTED_OPTION_ID }}]'").val(selected_val))
                $("input[name='option[{{ PRODUCT_DETAIL_OPTION.SELECTED_OPTION_ID }}]'").val(sub_selected_val);
                break;
              default:
                alert("Please select at least one option form " + sub_selected_val);
                return false;
                break;
            }

            break;
          case "{{ upload_prescription.step2_options.5.text}}":

            break;
          default:
            alert("Please select at least one option");
            return false;
            break;
        }

        $("input[name='option[{{ PRODUCT_DETAIL_OPTION.SELECTED_OPTION_ID }}]'").val(selected_val);

        $('#button-cart').click();

      },

      labels: {
        cancel: "Cancel",
        current: "current step:",
        pagination: "Pagination",
        finish: "Place Order",
        next: "Next",
        previous: "Previous",
        loading: "Loading ..."
      }
    });

  });

  $(window).load(function () {
    //alert("window load occurred!");
    //$('.Select_Saved_File').trigger('click');{% if order_sub_total > 0 %}
      $(".cart_amount_0_group").hide();
      $(".cart_amount_group").show();
    {% else %}
      $(".cart_amount_0_group").show();
      $(".cart_amount_group").hide();
    {% endif %}

  });

  Array.prototype.remove = function () {
    var what,
      a = arguments,
      L = a.length,
      ax;
    while (L && this.length) {
      what = a[--L];
      while ((ax = this.indexOf(what)) !== -1) {
        this.splice(ax, 1);
      }
    }
    return this;
  };

  //-->
</script>
{{ footer }}
<div style="display:none" id="ajax_data_debugger"></div>
<div id="loading" class="hide">
  <div id="loading-content">
    <img src="image/loading-gif-animation.gif" style="width:50px; height:50px;" alt="Loading...">
  </div>
</div>
