<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
</head>
<body>
<div class="container">
  {% for order in orders %}
  <div style="page-break-after: always;">
      <div class="row">
          <!--div class="col-md-5"></div -->
          <div class="col-md-12"> <img src="/image/catalog/ll1.jpg" style="margin:0 auto;" title="Genericure" width="210" alt="Genericure" class="img-responsive center"></div>
          <!-- div class="col-md-3"></div -->
      </div>
	  <br>

     <div class="row">

          <div class="col-md-12 text-center"> <address style="margin-bottom:1px !important;">
            {{ order.store_address }}
            </address>
         </div>
         <div class="col-md-3"><b>GST No :</b> 27AMXPT4182B1ZJ </div><div class="col-md-7"><b>D.L No :</b> 20/MH-NAG-324319,20B/MH-NAG-324321,21/MH-NAG-324320,21B-MH-NAG-324322</div>
         <div class="col-md-2"><strong>{{ text_invoice }} #{{ order.order_id }} </strong>
             <!--<b>{{ text_telephone }}</b> {{ order.store_telephone }}
            {% if order.store_fax %}
            <b>{{ text_fax }}</b> {{ order.store_fax }}
            {% endif %}--></div>

      </div>



    <table class="table table-bordered">
      <thead>
        <tr>
          <td colspan="3">{{ text_order_detail }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 50%;">
               {% if order.invoice_no %}
            <b>{{ text_invoice_no }}</b> {{ order.invoice_no }}<br />
            {% endif %}
            <b>{{ text_order_id }}</b> {{ order.order_id }}<br />
              <b>{{ text_date_added }}</b> {{ order.date_added }}<br />
            <b>{{ text_payment_method }}</b> {{ order.payment_method }}<br />
            {% if order.shipping_method %}
            <b>{{ text_shipping_method }}</b> {{ order.shipping_method }}<br />
            {% endif %}
          </td>
          <td style="width: 25%;" >

           {% if order.vendor_detail %}
             Vendor Detail:<br>
               <b>Name :</b> {{order.vendor_detail.username}}<br />
               <b>Address :</b> {{order.vendor_detail.address}} <br />
               <b>D.L. No :</b> {{order.vendor_detail.dl_no}}<br />
          {% endif %}

            </td>

            <td style="width: 25%;" >
           {% if order.patient_name_address %}
               <b>{{ text_patient_name_address }} :</b> {{ order.patient_name_address }}<br />
          {% endif %}
          {% if order.dr_name_address %}
               <b>{{ text_dr_name_address }} :</b> {{ order.dr_name_address }}
          {% endif %}
            </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td style="width: 50%;"><b>{{ text_payment_address }}</b></td>
          <td style="width: 50%;"><b>{{ text_shipping_address }}</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><address>
            {{ order.payment_address }}
            </address></td>
          <td><address>
            {{ order.shipping_address }}
            </address></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td><b>{{ column_product }}</b></td>
          <td><b>Batch No</b></td>
          <td><b>Expiry Date</b></td>

          <td class="text-right"><b>{{ column_quantity }}</b></td>
          <td class="text-right"><b>{{ column_price }}</b></td>
          <td class="text-right"><b>{{ column_total }}</b></td>
        </tr>
      </thead>
      <tbody>
        {% for product in order.product %}

        {% if product.name != 'Prescription Upload' %}
        <tr>
          <td>{{ product.name }}
            {% for option in product.option %}
            <br />
            &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
            {% endfor %}</td>
          <td>{{ product.batch_no }}</td>
          <td>{{ product.expire_date }}</td>

          <td class="text-right">{{ product.quantity }}</td>
          <td class="text-right">{{ product.price }}</td>
          <td class="text-right">{{ product.total }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% for voucher in order.voucher %}
        <tr>
          <td>{{ voucher.description }}</td>
          <td></td>
          <td class="text-right">1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-right">{{ voucher.amount }}</td>
        </tr>
        {% endfor %}
        {% for total in order.total %}
        <tr>
          <td class="text-right" colspan="5"><b>{{ total.title }}</b></td>
          <td class="text-right">{{ total.text }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if order.comment %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <td><b>{{ text_comment }}</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ order.comment }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
     <table class="table table-bordered">

        <tr>
          <td rowspan="2"><b>Qualified Person</b> (signature): </td>

        </tr>

      </table>

  </div>
  {% endfor %}
</div>
</body>
</html>