{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">

      <!-- div class="pull-right"> <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-order').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button> <button type="submit" id="button-shipping" form="form-order" formaction="{{ shipping }}" formtarget="_blank" data-toggle="tooltip" title="{{ button_shipping_print }}" class="btn btn-info"><i class="fa fa-truck"></i></button> <button type="submit" id="button-invoice" form="form-order" formaction="{{ invoice }}" formtarget="_blank" data-toggle="tooltip" title="{{ button_invoice_print }}" class="btn btn-info"><i class="fa fa-print"></i></button> <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a> </div> <h1>{{ heading_title }}</h1> <ul class="breadcrumb"> {% for breadcrumb in breadcrumbs %} <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li> {% endfor %} </ul> </div -->

    </div>
    <div class="container-fluid">
      {% if error_warning %}
        <div class="alert alert-danger alert-dismissible">
          <i class="fa fa-exclamation-circle"></i>
          {{ error_warning }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      {% endif %}
      {% if success %}
        <div class="alert alert-success alert-dismissible">
          <i class="fa fa-check-circle"></i>
          {{ success }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      {% endif %}
      <div class="row">
        <div id="filter-order" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-filter"></i>
                {{ text_filter }}</h3>
            </div>
            <div class="panel-body"></div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-list"></i>
                {{ text_list }}</h3>
            </div>
            <div class="panel-body">
              <form method="post" action="" enctype="multipart/form-data" id="form-order">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>

                        <td class="text-right">Id</td>
                        <td class="text-left">Name</td>
                        <td class="text-left">Mobile</td>
                        <td class="text-right">Email Id</td>
                        <td class="text-left">Customer Id</td>
                        <td class="text-left">Products</td>
                        <td class="text-left">Date</td>

                      </tr>
                    </thead>
                    <tbody>

                      {% if orders %}
                        {% for order in orders %}
                          <tr>

                            <td class="text-right">{{ order.id }}</td>
                            <td class="text-left">{{ order.name }}</td>
                            <td class="text-left">{{ order.mobile }}</td>
                            <td class="text-right">{{ order.request_email }}</td>
                            <td class="text-left">{{ order.customer_id }}</td>
                            <td class="text-left">
                              <ul>
                              {% for item in order.cart_data %}
                               {% if item.product_id != 58 %}
                                <li>{{item.name}} ({{item.product_id}})</li>
                                 {% endif %}
                              {% endfor %}
                              </ul>
                            </td>
                            <td class="text-left">{{ order.date }}</td>

                          </tr>
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td class="text-center" colspan="8">{{ text_no_results }}</td>
                        </tr>
                      {% endif %}
                    </tbody>

                  </table>
                </div>
              </form>
              <div class="row">
                <div class="col-sm-6 text-left">{{ pagination }}</div>
                <div class="col-sm-6 text-right">{{ results }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        <!--
        $('#button-filter').on('click', function () {
          url = '';

          var filter_order_id = $('input[name=\'filter_order_id\']').val();

          if (filter_order_id) {
            url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
          }

          var filter_customer = $('input[name=\'filter_customer\']').val();

          if (filter_customer) {
            url += '&filter_customer=' + encodeURIComponent(filter_customer);
          }

          var filter_order_status_id = $('select[name=\'filter_order_status_id\']').val();

          if (filter_order_status_id !== '') {
            url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
          }

          var filter_total = $('input[name=\'filter_total\']').val();

          if (filter_total) {
            url += '&filter_total=' + encodeURIComponent(filter_total);
          }

          var filter_date_added = $('input[name=\'filter_date_added\']').val();

          if (filter_date_added) {
            url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
          }

          var filter_date_modified = $('input[name=\'filter_date_modified\']').val();

          if (filter_date_modified) {
            url += '&filter_date_modified=' + encodeURIComponent(filter_date_modified);
          }

          location = 'index.php?route=sale/order&user_token={{ user_token }}' + url;
        });

        //-->
      </script>
      <script type="text/javascript">
        <!--
        $('input[name=\'filter_customer\']').autocomplete({
          'source': function (request, response) {
            $.ajax({
              url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
              dataType: 'json',
              success: function (json) {
                response($.map(json, function (item) {
                  return {label: item['name'], value: item['customer_id']}
                }));
              }
            });
          },
          'select': function (item) {
            $('input[name=\'filter_customer\']').val(item['label']);
          }
        });

        //-->
      </script>
      <script type="text/javascript">
        <!--
        $('input[name^=\'selected\']').on('change', function () {
          $('#button-shipping, #button-invoice').prop('disabled', true);

          var selected = $('input[name^=\'selected\']:checked');

          if (selected.length) {
            $('#button-invoice').prop('disabled', false);
          }

          for (i = 0; i < selected.length; i++) {
            if ($(selected[i]).parent().find('input[name^=\'shipping_code\']').val()) {
              $('#button-shipping').prop('disabled', false);

              break;
            }
          }
        });

        $('#button-shipping, #button-invoice').prop('disabled', true);

        $('input[name^=\'selected\']:first').trigger('change');

        // IE and Edge fix!
        $('#button-shipping, #button-invoice').on('click', function (e) {
          $('#form-order').attr('action', this.getAttribute('formAction'));
        });

        $('#form-order li:last-child a').on('click', function (e) {
          e.preventDefault();

          var element = this;

          if (confirm('{{ text_confirm }}')) {
            $.ajax({
              url: '{{ catalog }}index.php?route=api/order/delete&api_token={{ api_token }}&store_id={{ store_id }}&order_id=' + $(element).attr('href'),
              dataType: 'json',
              beforeSend: function () {
                $(element).parent().parent().parent().find('button').button('loading');
              },
              complete: function () {
                $(element).parent().parent().parent().find('button').button('reset');
              },
              success: function (json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                  $('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

                if (json['success']) {
                  location = '{{ delete }}';
                }
              },
              error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
              }
            });
          }
        });

        //-->
      </script>
      <script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
      <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen"/>
      <script type="text/javascript">
        <!--
        $('.date').datetimepicker({language: '{{ datepicker }}', pickTime: false});

        //-->
      </script>
    </div>
    {{ footer }}
